<div class="container-fluid mx-auto">
  <h2 class="f1 text-center">COURSE INFORMATION</h2>
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <img id="pic1" class="w3-animate-left" src="assets/images/course-info/1.jpg" style="width:100%">
    </div>
    <div class="col-md-6 col-sm-6 mt-3">
      <img id="pic2" class="w3-animate-right" src="assets/images/course-info/2.jpg" style="width:100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <img id="pic3" class="w3-animate-zoom" src="assets/images/course-info/3.jpg" alt="">
      <h2 class="f2 text-center w3-animate-zoom">In Pune, Maharastra, Asto Numero Vaastu classes for the practising Astologers. Organized by Institute of Vaastu & Joyful Living, Pitampura, Delhi</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 col-sm-6">
      <img id="pic4" class="w3-animate-left rounded" src="assets/images/course-info/4.jpeg" alt="">
    </div>
    <div class="col-md-6 col-sm-6">
      <img id="pic5" class="w3-animate-right rounded" src="assets/images/course-info/5.jpeg" alt="">
    </div>
  </div>
</div>
<div id="parallax-image" class="container-fluid mx-auto" style="background-image: url(assets/images/course-info/6.jpg)">
  <div class="row h-100">
    <div class="col-md-12 self-align-center text-center">
      <h1 class="text-white text-center f3 p-4">We are your one stop solution for all of your indoor & outdoor needs,
        for both residential and commercial properties.</h1>
      <button type="button" class="btn btn-outline-light">EXPLORE OUR SERVICES </button>
    </div>
  </div>
</div>


