<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">About Us</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-us">About Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/awards-honours">Awards & Honours</a>
          <a class="dropdown-item" href="#" routerLink="/client-list">Client List</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-services">Services we offer</a>
          <a class="dropdown-item" href="#" routerLink="/contact-us">Contact Us</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-books">Books by Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/course-gallery">Website Disclaimer</a>
          <a class="dropdown-item" href="#">Our Social Project</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Institute</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-institute-ivjl">About IVJL</a>
          <a class="dropdown-item" href="#" routerLink="/our-faculty">Our Faculty</a>
          <a class="dropdown-item" href="#" routerLink="/admission-curriculum">Admission & Curriculum</a>
          <a class="dropdown-item" href="#" routerLink="/special-courses">Special Courses</a>
          <a class="dropdown-item" href="#" routerLink="/distance-learning">Distance Learning</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Services</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/residential-vaastu">Residential Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/commercial-vaastu">Commercial Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/kundali-matrimony">Kundali Milan & Matrimony</a>
          <a class="dropdown-item" href="#" routerLink="/palmistry-service">Palmistry Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-service">Numerology & Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/privacy-policy">Privacy Policy</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">FAQ'S</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/vaastu-articles">Vaastu Articles</a>
          <a class="dropdown-item" href="#" routerLink="/astrology-articles">Astrology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-articles">Numerology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/fengshui-articles">Feng Shui Articles</a>
          <a class="dropdown-item" href="#" routerLink="/gemstone-articles">Gem Stone Articles</a>
          <a class="dropdown-item" href="#" routerLink="/pyravaastu-articles">Pyra Vaastu Articles</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          Evaluate
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/kua-number">Evaluate your kua number</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/shopoffice-number">Evaluate your Shop or Office</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/existing-plot">Evaluate your existing or new plot</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/hindi-books">Hindi Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/english-books">English Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/photo-gallery">Photo Gallery</a></li>
          <li><a class="dropdown-item" href="#">Video Gallery</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/educational-vaastu">Vaastu for Educational Institute</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/factories-vaastu">Vaastu for Factories</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/hospitals-vaastu">Vaastu for Hospitals</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/shops-vaastu">Vaastu for Shops</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/banks-vaastu">Vaastu for Banks</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/drawingroom-vaastu">Vaastu for Drawing Room</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kitchens-vaastu">Vaastu for Kitchen</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/masterbedroom-vaastu">Vaastu for Master Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kidsbedroom-vaastu">Vaastu for Kids Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/watersource-vaastu">Vaastu for Water Source</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-health">Feng Shui for Health</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-wealth">Feng Shui for Wealth</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-education">Fend Shui for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-harmony">Feng Shui for Harmony</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-office">Feng Shui for Office</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/vaastu-career">Vaastu for Career</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/marriage-vaastu">Vaastu for Marriage</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/education-vaastu">Vaastu for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/business-vaastu">Vaastu for Business</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/wealth-vaastu">Vaastu for Wealth</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/contact-us">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="shadow-none p-3 mb-5 bg-light rounded mx-auto">
  <div class="row">
    <div class="col-md-auto">
      <h1 class="ms-5" style="font-size: 27px">About Pandit Gopal Sharma : Awards & Honours</h1>
    </div>
    <div class="col mb-3">
      <ol class="breadcrumb p-2 bg-light" style="background-color: white">
        <li class="breadcrumb-item ms-auto"><a href="" style="text-decoration: none;color: black">Home</a></li>
        <li class="breadcrumb-item" style="color: darkorange">Awards & Honours</li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Pandit Gopal Sharma<span style="color: darkorange">- Awards & Honours</span></h1>
      <p><strong>World renowned Vaastu, Feng Shui, Astrology, Numerology expert from India</strong></p>
      <table class="table">
        <thead>
        <tr style="background-color: grey">
          <th scope="col"><p><strong>Sr.</strong></p></th>
          <th scope="col" style="font-size: 15px;"><p><strong>Award / Honour (Click on award view details)</strong></p></th>
          <th scope="col"><p><strong>Body / Venue</strong></p></th>
          <th scope="col"><p><strong>Comments</strong></p></th>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: #581845;color: white">
          <th scope="row">1.</th>
          <td><a href="./assets/images/awards-honours/1.jpg" style="text-decoration: none;color: white">Excellencey Award</a></td>
          <td>The Astro Force Academy, Delhi India</td>
          <td>For his excellent services towards Teaching & Writting Quality Literature in the field of astro world.</td>
        </tr>

        <tr style="background-color: #FF5733">
          <th scope="row">2.</th>
          <td><a href="./assets/images/awards-honours/2.jpg" style="text-decoration: none;color: black">Literary Honour</a></td>
          <td>Future Samachar, Delhi India</td>
          <td>for writting research material & contribution to Open Discussion forums in the field of Vaastu & Astrology.</td>
        </tr>
        <tr style="background-color: #FFC300">
          <th scope="row">3.</th>
          <td><a href="./assets/images/awards-honours/3.jpg" style="text-decoration: none;color: black">Gold Leaf</a></td>
          <td>Purusharth & Future Point, Delhi India</td>
          <td>for his dedication and contribution to promote, modernise and popularise Astrology.</td>
        </tr>
        <tr style="background-color: #E9967A">
          <th scope="row">4.</th>
          <td><a href="#" style="text-decoration: none;color: black">Doctor of Vaastu Science</a></td>
          <td>AJAV Vishva Vidyapeetha, Matara, Sri Lanka</td>
          <td>Certificate of Doctor of Vaastu Science for contribution in the field of Vaastu Science.</td>
        </tr>
        <tr style="background-color: #FF2D00">
          <th scope="row">5.</th>
          <td><a href="./assets/images/awards-honours/5.jpg" style="text-decoration: none;color: black">Excellencey Award</a></td>
          <td>Academy of Vedic Astrology, Ahmedabad, India</td>
          <td>For his excellent services in the field of Astrology.</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">6.</th>
          <td><a href="./assets/images/awards-honours/6.jpg" style="text-decoration: none;color:black">Excellencey Award</a></td>
          <td>JNSM Research Center, Gaziabad, India</td>
          <td>For his Educative & Informative contributions & services in the field of Astrology.</td>
        </tr>
        <tr class="table-info">
          <th scope="row">7.</th>
          <td><a href="./assets/images/awards-honours/7.jpg" style="text-decoration: none;color: black">Millennium Vaastu Shastri</a></td>
          <td>International Vastu Association, Jodhpur, Rajasthan, India</td>
          <td>for his meritorious work in the field of vadic Vaastu Science/Astrology and Occult Sciences.</td>
        </tr>
        <tr class="table-light">
          <th scope="row">8.</th>
          <td><a href="./assets/images/awards-honours/8.jpg" style="text-decoration: none;color: black">Mistique India Excellence Award</a></td>
          <td>International Institute of Astrology & Occultism, Delhi India</td>
          <td>For his services in the field of Astrology & Predective Sciences.</td>
        </tr>
        <tr class="table-dark">
          <th scope="row">9.</th>
          <td><a href="./assets/images/awards-honours/9.jpg" style="text-decoration: none;color: white">Vaastu Maharishi</a></td>
          <td>International Council of Astrology Research, Delhi India</td>
          <td>Honorary title confirmed to him for his services in the field of Vaastu & Astrology.</td>
        </tr>
        <tr style="background-color: #581845;color: white">
          <th scope="row">10.</th>
          <td><a href="./assets/images/awards-honours/10.jpg" style="text-decoration: none;color: white">Vaastu Martandya</a></td>
          <td>All India Astrology Selfstudy Institution, Delhi, India</td>
          <td>Honorary title confirmed to him for his services in the field of Vaastu & Astrology.</td>
        </tr>

        <tr style="background-color: #FF5733">
          <th scope="row">11.</th>
          <td><a href="./assets/images/awards-honours/11.jpg" style="text-decoration: none;color: black">Excellencey Award</a></td>
          <td>All India Saraswati Jyotish Manch, Jhalandar, Punjab, India</td>
          <td>for his selfless contribution towards spreeding the knowledge of Vaastu/Astrology among the common man.</td>
        </tr>
        <tr style="background-color: #FFC300">
          <th scope="row">12.</th>
          <td><a href="./assets/images/awards-honours/12.jpg" style="text-decoration: none;color: black">Appreciation Letter</a></td>
          <td>Vinod Khanna, Ex. Enternal Minister, Govt of India</td>
          <td>for the liturature work of yearly Horoscope.</td>
        </tr>
        <tr style="background-color: #E9967A">
          <th scope="row">13.</th>
          <td><a href="./assets/images/awards-honours/13.jpg" style="text-decoration: none;color: black">Appreciation Letter</a></td>
          <td>Kumar Mangalam, Aditya Brila Group</td>
          <td>on receipt of vaastu award.</td>
        </tr>
        <tr style="background-color: #FF2D00">
          <th scope="row">14.</th>
          <td><a href="./assets/images/awards-honours/14.jpg" style="text-decoration: none;color: black">Appreciation Letter</a></td>
          <td>Bhrgu Jyotish Shodh Manch, Jalandhar, Punjab, India</td>
          <td>for his selfless contribution towards the upliftment of Astrology & other Occult sciences.</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">15.</th>
          <td><a href="./assets/images/awards-honours/15.jpg" style="text-decoration: none;color: black">Vaastu Shri</a></td>
          <td>Bhrgu Jyotish Shodh Manch, Jalandhar, Punjab, India</td>
          <td>Honorary title confirmed to him for his services in the field of Vaastu & Astrology.</td>
        </tr>
        <tr class="table-info">
          <th scope="row">16.</th>
          <td><a href="./assets/images/awards-honours/16.jpg" style="text-decoration: none;color: black">Certificate for Research Paper</a></td>
          <td>Institute of Vedic Vaastu and research Foundation, Indore, MP, India</td>
          <td>for his research paper on "Vaastu/ Feng-Shui/Pyramid power an effective source of Bliss - Change your destiny for Better"</td>
        </tr>
        <tr class="table-light">
          <th scope="row">17.</th>
          <td><a href="./assets/images/awards-honours/17.jpg" style="text-decoration: none;color: black">Vishwa Jyotish Maharishi</a></td>
          <td>World Astrological Conference, Delhi, India</td>
          <td>for his services in the field of Astrology/Numerology</td>
        </tr>
        <tr class="table-dark">
          <th scope="row">18.</th>
          <td><a href="./assets/images/awards-honours/18.jpg" style="text-decoration: none;color: white">International Vaastu samrat</a></td>
          <td>Vishwa Jyotishpeeth, Delhi, India</td>
          <td>for his services in the field of Astrology/Numerology/ Palmistry</td>
        </tr>
        <tr style="background-color: #581845;color: white">
          <th scope="row">19.</th>
          <td><a href="./assets/images/awards-honours/19.jpg" style="text-decoration: none;color: white">Jyotish Martyanda</a></td>
          <td>All India Astrology Selfstudy Institution, Delhi, India</td>
          <td>Honorary title confirmed to him for his services in the field of Vaastu & Astrology.</td>
        </tr>

        <tr style="background-color: #FF5733">
          <th scope="row">20.</th>
          <td><a href="./assets/images/awards-honours/20.jpg" style="text-decoration: none;color: black">Vaastu Vedopadhyaya</a></td>
          <td>International Federation of Astrology And Spritiual Sciences, Matra, Sri Lanka</td>
          <td>Honorary title confirmed to him for his services in the field of Vaastu & Astrology.</td>
        </tr>
        <tr style="background-color: #FFC300">
          <th scope="row">21.</th>
          <td><a href="./assets/images/awards-honours/21.jpg" style="text-decoration: none;color: black">Mistique India Aryabhatt Award</a></td>
          <td>Future Point, Delhi, India</td>
          <td>Certificate of honour for his interest in the field of Astrology & Occult Sciences.</td>
        </tr>
        <tr style="background-color: #E9967A">
          <th scope="row">22.</th>
          <td><a href="./assets/images/awards-honours/22.jpg" style="text-decoration: none;color: black">Certificate of honour</a></td>
          <td>Niahsni, Delhi India</td>
          <td>for promoting, Developing and Researching in the field of Holistic Sciences.</td>
        </tr>
        <tr style="background-color: #FF2D00">
          <th scope="row">23.</th>
          <td><a href="./assets/images/awards-honours/23.jpg" style="text-decoration: none;color: black">Bhaskar Award</a></td>
          <td>Bharat Nirmaan, New Delhi</td>
          <td>Certificate of highest appreciation by Minister of State- Government of India.</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">24.</th>
          <td><a href="#" style="text-decoration: none;color: black">Pyra- Vaastu Expert</a></td>
          <td>Advance workshop on Pyra- Vaastu at Baroda</td>
          <td>Degree of Pyra- Vaastu Expert by Prof. Dr. Jiten Bhatt for gaining depth knowledge of Pyramids.</td>
        </tr>
        <tr class="table-info">
          <th scope="row">25.</th>
          <td><a href="#" style="text-decoration: none;color: black">Shield Of Honor</a></td>
          <td>Iskcon Auditorium- Mumbai on 8th, 9th & 10th January, 2000</td>
          <td>International Vaastu Conference resided by his holiness Jyotirpithadeshwar Jagatguru Shankracharyaji.</td>
        </tr>
        <tr class="table-light">
          <th scope="row">26.</th>
          <td><a href="./assets/images/awards-honours/26.jpg" style="text-decoration: none;color: black">Certificate of Honor on 7th April, 2002</a></td>
          <td>All India Council of Ved Vigyaan- Meerut</td>
          <td>Appreciable work in Astrology. </td>
        </tr>
        <tr class="table-dark">
          <th scope="row">27.</th>
          <td><a href="#" style="text-decoration: none;color: white">Shield of Appreciation</a></td>
          <td>Patanjali Yog Samiti & Bharat Swabhimaan Trust</td>
          <td>By his holiness Sh. Ramdevji on 7thMarch, 2009 for selfless work in enlightening people about the benefits of yoga.</td>
        </tr>
        <tr style="background-color: #581845;color: white">
          <th scope="row">28.</th>
          <td><a href="#" style="text-decoration: none;color: white">Shield & Certificate</a></td>
          <td>Mewar University- Ghaziabad, U.P.</td>
          <td>For successful coordination of the National workshop in Vaastu on 19th September, 2010.</td>
        </tr>

        <tr style="background-color: #FF5733">
          <th scope="row">29.</th>
          <td><a href="./assets/images/awards-honours/29.jpg" style="text-decoration: none;color: black">Certificate of Excellence</a></td>
          <td>National Conference on Astrology & Vaastu Science 2010</td>
          <td>For commendable paper on Vaastu science presented on 2nd & 3rd October, 2010.</td>
        </tr>
        <tr style="background-color: #FFC300">
          <th scope="row">30.</th>
          <td><a href="./assets/images/awards-honours/30.jpg" style="text-decoration: none;color: black">Certificate of Millennium Awards</a></td>
          <td>International Vastu Accociation- Agyat Darshan Complex , Jodhpur</td>
          <td>This certificate of millennium awaeds is conferred tp him at International conference at ISKON Auditorium on 10th Jan 2000</td>
        </tr>
        <tr style="background-color: #E9967A">
          <th scope="row">31.</th>
          <td><a href="./assets/images/awards-honours/31.jpg" style="text-decoration: none;color: black">Vishwa Karma Award 2010</a></td>
          <td>Association of Ayurvedic Professionals of North America, Pennysylvania-U.S.A</td>
          <td>For Excellence in Vaastu Shastra (Vedic Architecture).</td>
        </tr>
        <tr style="background-color: #FF2D00">
          <th scope="row">32.</th>
          <td><a href="#" style="text-decoration: none;color: black">Certificate of Excellence</a></td>
          <td>Institute of Vedic, Vaastu & Astrology Vision, IMS Management College- Ghaziabad</td>
          <td>National Conference on Astrology, Vaastu & Numerology.</td>
        </tr>
        <tr class="table-warning">
          <th scope="row">33.</th>
          <td><a href="./assets/images/awards-honours/33.jpg" style="text-decoration: none;color: black">Certificate of Excellence</a></td>
          <td>Institute of Vedic, Vaastu & Astrology Vision, IMS Management College- Ghaziabad</td>
          <td>National Conference on Astrology, Vaastu & Numerology.</td>
        </tr>
        <tr class="table-info">
          <th scope="row">34.</th>
          <td><a href="./assets/images/awards-honours/34.gif" style="text-decoration: none;color: black">Mystique Legendary Award</a></td>
          <td>Bharat Nirman, Delhi India</td>
          <td>Award for Excellence in the field of Vaastu and Feng-Shui Astro</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 mt-5">
      <div class="list-group" role="tablist">
        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#" role="tab">About Pt. Gopal Sharma</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/vaastu-services">Astrology & Vaastu services</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">About Institute - IVJL</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/book-service">Request an Appointment</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab">Frequently asked questions</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/contact-us">Contact us</a>
      </div>
      <br>
      <div class="card text-center">
        <div class="card-body">
          <div class="card-title">
            <h5>CONTACT INFO</h5>
            <p>B-292, Saraswati Vihar<br>Outer Ring Road, Pitampura,<br> New Delhi</p><br>
            <p><strong>Call us for further details</strong><br><span style="color: darkorange">27020736, 27030966<br>27030967, 47562167<br> 9313754200, 9810100533</span></p><br>
          </div>
        </div>
      </div>
      <br>
      <div class="card text-center">
        <div class="card-body">
          <button class="btn btn-primary"><i class="far fa-file-pdf"></i><span class="ms-2">Download Brochure</span></button>
        </div>
      </div>
      <br>
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">
          <h4>Have questions about our services?</h4>
        </div>
        <div class="card-body">
          <p>If you have any question related to our services, feel free to contact us using our numbers directly or leave a message using the link below.</p>
          <div class="text-center">
            <button class="btn btn-outline-light" routerLink="/contact-us">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="client-count-wrp container-fluid">
  <div class="container">
    <div class="client-count-wrp-inner mx-auto">
      <div class="cards">
        <div class="text-center" style="color: #e4a600;font-size: 50px"><i class="fas fa-tree"></i></div>
        <h4  class="text-center">{{projectcount}}</h4>
        <p  class="text-center" style="color: #e4a600">Growths Reported</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #48b84b;font-size: 50px"><i class="fas fa-users"></i></div>
        <h4 class="text-center">{{accuratecount + "%"}}</h4>
        <!--concat % sign-->
        <p  class="text-center" style="color: #48b84b;">Happy Famlies</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #28a5df;font-size: 50px"><i class="fas fa-map-signs"></i></div>
        <h4 class="text-center">{{clientcount}}</h4>
        <p class="text-center" style="color: #28a5df">Offices & Factories</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #c81010;font-size: 50px"><i class="far fa-hand-peace"></i></div>
        <h4 class="text-center">{{customerfeedback + "%"}}</h4>
        <p class="text-center" style="color: #c81010">Flats & Houses</p>
      </div>
      <!--card-->
    </div>
  </div>
</div>
<app-footer-sec></app-footer-sec>
