<div class="container-fluid mx-auto">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="text-center">
      <h1 class="s1">Consultation Services We Offer</h1>
      <h5 class="mt-4">CONSULTANCY SERVICES FOR VAASTU, FENG SHUI, ASTROLOGY, PALMISTRY , NUMEROLOGY BY EXPERT FROM INDIA</h5>
      <p>We provide vastu services for residence and commercial establishments, Feng Shui consultancy, Astrology Services and Numerology analysis.</p>
      <p>We are also instrumental in providing Vastu Shastra Consultancy to our clients from different corporate houses. You will experience an unprecedented slew of happiness, success and harmony. Your business will blossom and so would your interpersonal relationships and family bonding. We provide suitably priced, effective and reliable vastu, astrology, feng-shui, numerology and Palmistry consultancy services on matters related to health wealth and harmony. Our vastu shastra consultancy services are as below:</p>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slide" data-interval="2000">
          <img src="assets/images/services-offer/1.jpg" class="vid1">
          <h4>Vaastu Consultancy</h4>
          <p>Residential Vaastu, Commercial complex, Educational Institute, Hotels, Resorts, Flats, Society, Farm Houses vastu, Kothi, Floor, School, Cinema Complex vastu, Office vastu, Shop, Malls and much more...</p>
          <a href="">
            <button class="btn btn-outline-dark">VIEW SERVICE DETAILS</button>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide" data-interval="1000">
          <img src="assets/images/services-offer/2.jpg" class="vid2">
          <h4>Astrology Consultancy</h4>
          <p>We have earned appreciation from the clients for providing accurate and effectual Astrology Services. Our service helps one to improve their married life, career, studies, business, stock market, etc.</p>
          <a href="">
            <button class="btn btn-outline-dark">VIEW SERVICE DETAILS</button>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide" data-interval="1000">
          <a href="assets/images/services-offer/3.jpg">
            <img src="assets/images/services-offer/3.jpg" class="vid3">
          </a>
          <h4>Palmistry Analysis</h4>
          <p>Energy – change your future prospects as desired, decided by lines of your palm, makes you feel better in all means. We provide reliable Palmistry Analysis to the clients based across the globe.</p>
          <a href="">
            <button class="btn btn-outline-dark">VIEW SERVICE DETAILS</button>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide" data-interval="1000">
          <img src="assets/images/services-offer/4.jpg" class="vid4">
          <h4>Numerology Analysis</h4>
          <p>As a Professional Numerology Consultant, we have provided maximum benefits to the clients and satisfied their requirements. The science has the power to influence our lives, whether we believe in it or not.</p>
          <a href="">
            <button class="btn btn-outline-dark">VIEW SERVICE DETAILS</button>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide" data-interval="1000">
          <img src="assets/images/services-offer/5.jpg" class="vid5">
          <h4>Corporate Identity</h4>
          <p>We create 100% original and unique Logos that bears the clarity and consistency of your Brand/ Company Image and represents it appropriately thus promoting recognition amongst your customers / consumers.</p>
          <a href="">
            <button class="btn btn-outline-dark">VIEW SERVICE DETAILS</button>
          </a>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide" data-interval="1000">
          <img src="assets/images/services-offer/6.jpg" class="vid6">
          <h4>Rashi Gem Stones</h4>
          <p>The Gold Standard in Planetary Gemmology. Explore the vast ocean of gems and their effects and find the exact gem that will bring desired results. Get your Gemstone consultation today.</p>
          <a href="">
            <button class="btn btn-outline-dark">VIEW SERVICE DETAILS</button>
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</div>
