.s1 {
  color: orange;
  font-size: 35px;
}

.vid1 {
  width: 50%;
  height: 300px;
}


.vid2 {
  width: 50%;
  height: 300px;
}


.vid3 {
  width: 50%;
  height: 300px;
}


.vid4 {
  width: 50%;
  height: 300px;
}


.vid5 {
  width: 50%;
  height: 300px;
}


.vid6 {
  width: 50%;
  height: 300px;
}


