<div class="container-fluid mx-auto">
  <h2 class="t1 text-center">Quick links to other information</h2>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="img-thumbnail">
        <a href="assets/images/course-gallery/1.jpg">
          <img src="assets/images/course-gallery/1.jpg" alt="" style="width: 100%">
        </a>
          <div class="caption">
            <h4>Corporate Identity Service</h4>
            <p>We create 100% original and unique corporate identity images that bears the clarity and consistency of your Brand/ Company Image and represents it appropriately thus promoting recognition amongst your customers / consumers</p>
            <a href=""><button class="btn btn-outline-dark mx-1">Read more</button></a>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="img-thumbnail">
        <a href="assets/images/course-gallery/2.jpg">
          <img class="img-fluid" src="assets/images/course-gallery/2.jpg" alt="" style="width: 100%">
        </a>
          <div class="caption">
            <h4>Rashi Gem Stones</h4>
            <p class="mx-2">Gems are related to planetary forces, & anyone wearing jewels will be in harmony with stellar rays. Genuine Tested Precious & Semi Precious Gem stones available at IVJL. Get your birth stones and gems as per your birth chart.</p>
            <a href=""><button class="btn btn-outline-dark mx-1">Read more</button></a>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="img-thumbnail">
        <a href="assets/images/course-gallery/3.jpg">
          <img class="img-fluid" src="assets/images/course-gallery/3.jpg" alt="" style="width: 100%">
        </a>
        <div class="caption">
          <h4>Regular Courses</h4>
          <p class="mx-2"><strong>Astrology Courses</strong> : Ratan, Bhushan, Prabhakar and other advance courses. <strong>Vaastu Courses</strong> : Certificate, Diploma, Advance Doploma and PG Diploma. <strong>Palmistry Courses</strong> : Certificate & Diploma courses available.</p>
          <a href=""><button class="btn btn-outline-dark mx-1">Read more</button></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="img-thumbnail">
        <a href="assets/images/course-gallery/4.jpg">
          <img class="img-fluid" src="assets/images/course-gallery/4.jpg" alt="" style="width: 100%">
        </a>
        <div class="caption">
          <h4>Pracharya S.R. Jaipuria</h4>
          <p class="mx-2">Pracharya Sewaram Jaipuria, a leading Astro-Numero expert & Gem Therapist is a luminary in many fields. He is the Principal of IVJL; the prestigious center for learning various occult-sciences in Delhi and across world.</p>
          <a href=""><button class="btn btn-outline-dark mx-1">Read more</button></a>
        </div>
      </div>
    </div>
  </div>
  <div style="margin: 10px 0 -10px 0px; text-align:right; font-size:11px ">
    <a href="./vaastu-astrology-products/index.html" title="vaastu astrology Palmistry vastu consultant delhi products" class="w1">Products</a>  |
    <a href="./astrology-vaastu-services/index.html" title="vaastu astrology Palmistry vastu consultant delhi services" class="w1">Services</a>  |
    <a href="./institute/index.html" title="vaastu astrology Palmistry vastu consultant delhi education courses" class="w1">Education</a>  |
    <a href="./free-vaastu-service/index.html" title="vaastu astrology Palmistry vastu consultant delhi free online services" class="w1">Online Services</a>  |
    <a href="./gallery/index.html" title="vaastu astrology Palmistry vastu consultant delhi photo albums" class="w1">Photo Gallery </a> |
    <a href="./astrology-vaastu-numerology-books/index.html" title="vaastu astrology Palmistry vastu consultant delhi books" class="w1">Books </a> |
    <a href="./gallery/astrology-vaastu-workshop-videos.html" title="vaastu astrology Palmistry vastu consultant delhi videos" class="w1">Videos</a>  |
    <a href="./blog/" title="vaastu astrology Palmistry vastu consultant delhi official blog" class="w1">Blog</a>  |
    <a href="./contact.html" title="vaastu astrology Palmistry vastu consultant delhi contact details" class="w1">Contact Us</a> |
    <a href="./disclaimer.html" title="vaastu astrology Palmistry vastu consultant delhi content disclaimer" class="w1">Disclaimer</a> <br>
  </div>
</div>

