<div class="container-fluid" style="background-color: #A70A0A;">
  <div class="row">
    <div class="col-md-4 mt-2">
      <a href=""><i class="fab fa-facebook-square symbol" style="color: #154360;font-size: 30px"></i></a>
      <a href="" style="" class="ms-4"><i class="fab fa-twitter-square symbol" style="color: #1976D2;font-size: 30px"></i></a>
      <a href="" class="ms-4"><i class="fas fa-phone-square-alt symbol" style="color: darkblue;font-size: 30px"></i></a>
      <a href="" class="ms-4"><i class="fas fa-envelope-square symbol" style="color: white;font-size: 30px"></i></a>
    </div>
    <div class="col-md-8 mt-2">
      <a href="" style="text-decoration: none;text-align: right"><h2 style="color:#FFFFFF; font-size:17px;">Welcome to World of Vaastu, Astrology & Feng-shui : Source to Health, Wealth and Prosperity</h2></a>
    </div>

  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <img src="./assets/images/website-disclaimer/1.png" alt="">
    </div>
    <div class="col-md-6">
      <div style="text-align: right" class="mt-3">
        <h4><strong>Request an Appointment</strong></h4>
        <ul style="list-style: none">
          <li><i class="fas fa-envelope"></i><span class="ms-2">ptgopal@yahoo.com</span></li>
          <li><i class="fas fa-tty"></i><span class="ms-2">+91-11-27030966/67</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5b6b3;width: 80%;margin-left: 10%">
        <a class="navbar-brand" href="#">Vaastu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray"><span class="font">Home</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/about-us"><span class="font">About Us</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/consultation-services"><span class="font">Consultation</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/articles"><span class="font">Articles</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/education"><span class="font">Education</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/online-services"><span class="font">Online Services</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/photo-gallery"><span class="font">Photos/ Video</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/blog"><span class="font">Blog</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1 style="font-style: italic;color: #BD1456">Consult Today for Peaceful Tomorrow!</h1>
        <h4 style="font-style: italic;color: dimgray">Enjoy health & happiness, progress & prosperity.</h4>
      </div>
    </div>
  </div>
  <div class="border" style="background-color: #AD8B65"></div>
  <div class="container ms-5">
    <div class="row">
      <div class="col-md-6">
        <h2 style="color: #AF5A49">Consulation</h2>
        <p style="text-align: justify">Vaastu, Astrology, Numerology, Feng-Shui, Pyra-Vaastu, Map Analysis, Horoscope Analysis, Residential and commercial vaastu correction without demolition.</p>
        <div style="text-align: right">
          <strong><a href="" style="text-align: right;text-decoration: none;color: #D7743B">read more...</a></strong>
        </div>
      </div>
      <div class="col-md-4">
        <h2 style="color: #AF5A49">Pt. Gopal Sharma</h2>
        <p style="text-align: justify">Born in a renowned family of vedic scholars & spiritual healers, Pt.Gopal Sharma, an engineering graduate of 1973 from Delhi College of Engineering is a luminary in many fields.</p>

        <div style="text-align: right">
          <strong><a href="" style="text-align: right;text-decoration: none;color: #D7743B">read more...</a></strong>
        </div>
      </div>
      <div class="col-md-2">
        <img src="./assets/images/website-disclaimer/2.png" alt="" style="margin-top: -5%">
      </div>
    </div>
  </div>
  <div class="border" style="background-color: #AD8B65"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Pay Online</h5>
          <a class="card__link" href="">Make your payments for services<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Horoscope Analysis</h5>
          <a class="card__link" href="" routerLink="/kundali-matrimony">You personalize kundali / horoscope<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Map Analysis</h5>
          <a class="card__link" href="">Residential / Commercial<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Vaastu Courses</h5>
          <a class="card__link" href="" routerLink="/our-faculty">Basic vaastu to advance vaastu<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Astrology Courses</h5>
          <a class="card__link" href="" routerLink="/distance-learning">Basic vaastu to advance vaastu<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Pyra Vaastu</h5>
          <a class="card__link" href="" routerLink="/pyravaastu-articles">Vaastu correction without demolition<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Gems Therapy</h5>
          <a class="card__link" href="" routerLink="/gemstone-articles">Gems for kundali dosh nivaran<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Dosh Nivaran Yantra</h5>
          <a class="card__link" href="" routerLink="/products">Vaastu, Astrology, Feng Shui Products<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="p-4">
        <h6><strong>Products : Vaastu Dosh Nivaran Yantra</strong></h6>
        <div class="border" style="background-color: #581845"></div>
        <p class="mt-2"><strong>Sub Header</strong></p>
        <p style="font-size: 12px;text-align: justify">Vaastu, Feng Shui, Astrology, Numerology, Pyra Vaastu and Palmistry expert from India</p>
        <img src="./assets/images/products/1.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Multier 9×9 – original (Practical PyraVastu tool)</h4>
        <p style="font-size: 12px;text-align: justify">Simplest and the most powerful tool “Multier 9×9” is an innovation of Prof. Dr. Jiten Bhatt for Vastu and Fengshui corrections and energy balance. Widely used for center activation, spiritual room shifting, land charging & so on. Made up of ‘Neutron' Polymer for more accurate results and perfection. Multier 9×9 contains one PyraTop, one Pyraplate and nine Pyrachips. The Top fits into the plate and all the 9 chips are to be fixed at the bottom with an adhesive. It can be installed on the wall, ceiling or ground as per requirement. The number of Multier will increase in multiples of 9 such as 27, 81….405…. but this depends on the area and the strength of the problem.</p>
        <br>
        <img src="./assets/images/products/2.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Bemor 9×9 (Energy and Luck enhancer)</h4>
        <p style="font-size: 12px;text-align: justify">Bemor 9×9 is used for main door luck activation, energy spread in the house or office and for 9 energy beam generation.
          This tool is very popular in Fengshui, Vastu and other correction. Bemor 9×9 set contains one Lotus power 9 hole plate, one PyraPlate and nine PyraChips
          A pair of Bemor 9×9 by sides of main door with a combination of a Protect 9×9 in the center shows optimal results.</p>
        <br>
        <img src="./assets/images/products/3.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Multier 9×9 vastu kit (set of 9 Multier pyramids)</h4>
        <p style="font-size: 12px;text-align: justify">Vastu 9×9-a kit of 9 Multier pyramids ideal for home, office &amp; factory. Can be placed under the ground in a grid of nine or can be used separately as a single pyramid.
          Some common uses are as follows: <br>
          Vastu 9×9 can be used under the plot, in the center or on the ceiling in a flat. If the intensity of the problem is more it can increase in multiples to 18 or 27. <br>
          Vastu kit can be used for protection from road chi. it can be placed in the ground for maximum benefit.</p>
        <br>
        <img src="./assets/images/products/4.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Multier 9×9 – MAX (10 times more powerful than multier)</h4>
        <p style="font-size: 12px;text-align: justify">This advance new Multier Max is precisely developed by world- renowned Pyra Vastu founder Dr. Jiten Bhatt to maximize your Pyra vastu results for more health &amp; prosperity. Better results in Pyra Vastu obtained by it, are not only by accurate dimensions but also superfine tuning done by Grand Masters. Also vibratory frequency of each layer &amp; all well matched components gives tremendous power to maximize its efficiency. Ideal for vastu correction in flat, rooms &amp; house. As Multier Max has power of nine original Multier Pyramids, you can use frequently for big projects like factory land, farm &amp; hospital etc. it can be used in Multiple of 9 such as 9, 18, 27,…. Depends upon the area &amp; strength of problem.
          Secret features: <br>
          Multi-Action Max Top, <br>
          Cosmic Harmonizer Max Plate, <br>
          81 Pyra divine, 9 Max Chips, <br>
          9 Copperon programmers Max Base.</p>
        <br>
        <img src="./assets/images/products/5.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Super MAX (with 4 direction and center gold power!</h4>
        <p style="font-size: 12px;text-align: justify">This advance new Multier Max is precisely developed by world- renowned Pyra Vastu founder Dr. Jiten Bhatt to maximize your Pyra vastu results for more health &amp; prosperity. Better result in Pyra Vastu obtained by it, are not only by accurate dimensions but also superfine tuning done by Grand Masters. Also vibratory frequency of each layer &amp; all well matched components gives tremendous power to maximize its efficiency. <br>
          Ideal for vastu correction in flat, rooms &amp; house. As Multier Max has power of nine original Multier Pyramids, you can use frequently for big projects like factory land, farm &amp; hospital etc. it can be used in Multiple of 9 such as 9, 18, 27 … Depends upon the area &amp; strength of problem.</p>
        <p style="font-size: 12px;text-align: justify">Secret features: <br>
          Multi-Action Max Top, <br>
          Cosmic Harmonizer Max Plate, <br>
          81 Pyra divine, 9 Max Chips, <br>
          9 Copperon programmers Max Base.</p>
        <br>
        <img src="./assets/images/products/6.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Energy 9×9 (Pynergy for house, shops an d offices)</h4>
        <p style="font-size: 12px;text-align: justify">This special Energy 9×9 enhancer improves the flow of energy in your home &amp; brings good chi in the whole house. It is used in various Fengshui &amp; vastu correction methods &amp; has many numerous uses, you can place it on the wall of your, shop or office.
          Very easy to use; place the plate between your hands and personalize for the purpose, then hang on a screw or stick with a double side tape. <br>
          Enriched with Pyra grid power 6561 <br>
          Now also programmed with 9 cosmic energy FaMaa discs at the bottom. <br>
          ‘Lotus Yantra' at the center with Eight directional benefits. <br>
          Add power of gold pyramids in the center.</p>
        <br>
        <img src="./assets/images/products/7.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Protect 9×9 for car (safe-guard your vehicles)</h4>
        <p style="font-size: 12px;text-align: justify">It is essential to make vehicle in harmony with you by fixing ‘Protect 9×9 Car' on your car or scooter for protection, safety &amp; efficiency.
          Protect 9×9 Car creates positive energy, which makes your neurobody control better and this helps you to take clear decision in crucial moments&amp; balance your mind.
          Unique features: <br>
          Four directionally interacting copper triangles on the top. <br>
          Pre-programmed 8 copper &amp; 1 gold pyramid chips.</p>
        <br>
        <img src="./assets/images/products/8.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Protect 9×9 – Outside (for Door protection)</h4>
        <p style="font-size: 12px;text-align: justify">Protect 9×9 outside is a unique instrument made first time in the world by Prof. Dr. Jiten Bhatt for protection &amp; bringing good luck. It is must on every door. Protect 9×9 outside consists of a gold plate in the center which helps in protecting your house from Sha Chi like too much shining objects, sharp pointing corners or incomplete construction of next building, heavy transformer outside the house or water on wrong side etc.
          Protect 9×9 not only protects but attracts helpful energies to bring you good luck. It has to be fixed only outside the house 1, 3 or more in number depending on the strength of the affecting Sha Chi. This Pyramid Yantra has energetic gold plate in center, which is made to preprogram or personalize your Yantra before applying.</p>
        <br>
        <img src="./assets/images/products/9.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Protect 9×9 for Inside (Protection and luck enhancement)</h4>
        <p style="font-size: 12px;text-align: justify">Ideal for office, home &amp; factory. Accepted worldwide and compatible to both Vastu &amp; Fengshui. Protects from evil energy, Sha Chi of sharp of objects, door, staircase or beam. Also protects from ‘Poison arrow' &amp; enhances good luck to bring fortune. Can be programmed, with the Pyramid Yantra and the Gold FaMaa chip in the center. Very easy to use, just place between your two hands and make an intense wish for the purpose.
          Your wish can be for business, health, children, protection or just as simple as ‘protection from evil power and bring good luck from all directions'. And stick on the wall. It can be fixed in multiples of 3 or 9 also.</p>
        <br>
        <img src="./assets/images/products/10.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">PyraVastu Swastik – GOLD (for shop, office and factory)</h4>
        <p style="font-size: 12px;text-align: justify">This unique swastik is an auspicious symbol of fortune &amp; wellness. The multipurpose Pyra Vastu Swastik Gold can be used to bring prosperity, success &amp; fast progress at home &amp; workplace (ideal for all homes, office, shops &amp; factory). It is also very effective for cash and sales counter &amp; also at spiritual places.
          Feature consists power of 729 inbuilt Pyramids in grid of 81, Red Swastik Pyramid grid &amp; bottom activator with 8 copper + 1 Gold energy radiators. Also added power of 5 Gold Pyramids for vital Pyra Centers. It can be used in multiples of 3 and 9 at a time for Vastu &amp; Pyra Vastu.
          Easy to Use:
          Just place your Swastik between hands with positive mind &amp; program it or personalize with personal wish. Now stick it or fix it with brass screw wherever you require.</p>
        <br>
        <img src="./assets/images/products/11.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Pyravastu Swastik MINI (positive energy Shubh Labh)</h4>
        <p style="font-size: 12px;text-align: justify">Ideal for all doors, can be fixed on the door or on the doorframe. It is also very effectiv efor cash box, pooja rooms, Cupboards, Computer, study table &amp; other such things. With added power of 75 pyramids, 17 Red Pyramid grid &amp; a gold energy radiator at the bottom. Must be placed on two sides of the door.</p>
        <br>
        <img src="./assets/images/products/12.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">PyraCard Kit (all 4 cards)</h4>
        <p style="font-size: 12px;text-align: justify">It can be used together by placing all 4 PyraCards in your purse or bag. Also, PyraCards can be placed at appropriate places such as one in your pocket other in your purse, third in your cash box and forth at your home.
          Also, each card can be used one by one as per your purpose and need. All 4 cards can be used at a time also at different places.</p>
        <br>
        <img src="./assets/images/products/13.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Pyra Strip (virtual energy partition set of 3)</h4>
        <p style="font-size: 12px;text-align: justify">Innovative, effective and most practical tool for vastu and Fengshui corrections created by Prof. Dr. Jiten Bhatt. This new Pyramid Yantra, Pyra Strip gives you easy solution to parting of rooms, basement and toilet doors. It can cut unwanted energy parts and low-high energy disturbance.
          Fix 3 Pyra Strip on the ceiling or on the door and it starts working as a virtual partition.</p>
        <br>
        <img src="./assets/images/products/14.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Education Pyramid (power of pyramids for students' success)</h4>
        <p style="font-size: 12px;text-align: justify">Education Pyramid is useful for Education of children for enhancing knowledge and wisdom. This Education Tower with triple pyramid effect and special copper education Yantra founded by Prof. Dr. Jiten Bhatt also gives access to the deeper knowledge and education.
          Advisable on study table or hang on the wall in front of the student's chair.</p>
        <br>
        <img src="./assets/images/products/15.gif" alt="..." class="img-thumbnail">
        <h4 style="color: #621405;font-style: italic" class="mt-2">Wish Pyramid – Advance (your personal wish machine!)</h4>
        <p style="font-size: 12px;text-align: justify">A hugely successful with 9×9 machines is a new way to make your dream and wishes come true. Due to its special 9×9 Pyramid top it has more power to enhance your wish. The innovative concept of ‘Copper Wish Chamber' is introduced for the first-time to get accurate and fast result. A ‘Pre-Programmed' gold disc is inbuilt at the bottom plate, so you can make it more personalized by charging. Just write your wish on a piece of paper and place it in the dome. As approved by millions, Pyramid Yantra Wish 9×9 is one of the most personal, effective and easy way.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div style="text-align: right">
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/products">Products</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-services">Services</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/education">Education</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/online-services">Online Services</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/photo-gallery">Photo Gallery</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-books">Books</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px">Videos</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/blog">Blog</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/contact-us">Contact Us</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/website-disclaimer">Disclaimer</a>
  </div>
  <div class="border" style="background-color: #AD8B65"></div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Evaluate your Business</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/educational-vaastu"><span class="font"> Educational Institute Vaastu</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/factories-vaastu"><span class="font"> Vaastu of Factories</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/hospitals-vaastu"><span class="font"> Vaastu of Hospitals</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/shops-vaastu"><span class="font"> Vaastu of Shops</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/banks-vaastu"><span class="font"> Vaastu of Banks</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Evaluate your Residence</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/drawingroom-vaastu"><span class="font"> Vaastu of Drawing Room</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/kitchens-vaastu"><span class="font"> Vaastu of Kitchen</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/masterbedroom-vaastu"><span class="font"> Vaastu of Master Bedroom</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/kidsbedroom-vaastu"><span class="font"> Vaastu of Kids Bedroom</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/watersource-vaastu"><span class="font"> Vaastu of Water Source</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Feng Shui and You</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-health"><span class="font"> Feng Shui for Health</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-wealth"><span class="font"> Feng Shui for Wealth</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-education"><span class="font"> Fend Shui for Education</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-harmony"><span class="font"> Feng Shui for Harmony</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-office"><span class="font"> Feng Shui for Office</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Daily Life Vaastu</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-career"><span class="font"> Vaastu for Career</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/marriage-vaastu"><span class="font"> Vaastu for Marriage</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/education-vaastu"><span class="font"> Vaastu for Education</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/business-vaastu"><span class="font"> Vaastu for Business</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/wealth-vaastu"><span class="font"> Vaastu for Wealth</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="border" style="background-color:#A70A0A"></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">About Us</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-us"><span class="font"> About Pt. Gopal Sharma</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-services"><span class="font"> Services we offer</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/contact-us"><span class="font"> Contact Us</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-books"><span class="font"> Books by Pt. Gopal Sharma</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/website-disclaimer"><span class="font"> Website Disclaimer</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px"><span class="font"> Our Social Project</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">About Institute</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-institute-ivjl"><span class="font"> About IVJL</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/our-faculty"><span class="font"> Courses offered</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/our-faculty"><span class="font"> Our Faculty</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/admission-curriculum"><span class="font"> Admission & Curriculum</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/special-courses"><span class="font"> Special Courses</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/distance-learning"><span class="font"> Distance Learning</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Our Services</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/residential-vaastu"><span class="font"> Residential Vaastu</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/commercial-vaastu"><span class="font"> Commercial Vaastu</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/kundali-matrimony"><span class="font"> Kundali Milan & Matrimony</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/palmistry-service"><span class="font"> Palmistry Analysis</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/numerology-service"><span class="font"> Numerology & Analysis</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Other Resource</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/hindi-books"><span class="font"> Hindi Books</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/english-books"><span class="font"> English Books</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/photo-gallery"><span class="font"> Photo Gallery</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px"><span class="font"> Video Gallery</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px"><span class="font"> Our Social Project</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #A70A0A">
  <br>
  <h2 class="text-center" style="font-style: italic;color: white;font-size: 20px">Vaastu Shastra, Astrology, Palmistry are Ancient Indian Science for happy living. <br/>It is advisable to consult a professional before taking any vital decision.</h2>
  <br>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h6 style="font-size: 10px">Copyright @2010 IVJL the World of Vaastu, Astrology & Feng-Shui. All rights reserved<br/>
        Website Design, Development, Maintenance and SEO Services by <span><a href="" style="text-decoration: none;" class="font">Elite InfoWorX</a></span></h6>
    </div>
    <div class="col-md-6">
      <div style="text-align: right">
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-articles">Vaastu</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/astrology-articles">Astrology</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-articles">Feng Shui</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/numerology-articles">Numerology</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/gemstone-articles">Gem Stones</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/pyravaastu-articles">Pyramidology</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-us">About Us</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/contact-us">Contact Us</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-services">Services</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/products">Products</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-books">Books</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-institute-ivjl">Courses</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/website-disclaimer">Disclaimer</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #A70A0A">
  <br>
  <h2 style="font-style: italic;color: #FFFFFF;font-size: 14px" class="text-center">Vaastu Consultancy | Astrology Consultancy | Feng Shui Consultant | Vaastu Tips | Vaastu Courses | Astrology Courses | Industrial Vaastu | Residential Vaastu</h2>
  <br>
</div>


















