<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">About Us</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-us">About Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/awards-honours">Awards & Honours</a>
          <a class="dropdown-item" href="#" routerLink="/client-list">Client List</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-services">Services we offer</a>
          <a class="dropdown-item" href="#" routerLink="/contact-us">Contact Us</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-books">Books by Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/course-gallery">Website Disclaimer</a>
          <a class="dropdown-item" href="#">Our Social Project</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Institute</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-institute-ivjl">About IVJL</a>
          <a class="dropdown-item" href="#" routerLink="/our-faculty">Our Faculty</a>
          <a class="dropdown-item" href="#" routerLink="/admission-curriculum">Admission & Curriculum</a>
          <a class="dropdown-item" href="#" routerLink="/special-courses">Special Courses</a>
          <a class="dropdown-item" href="#" routerLink="/distance-learning">Distance Learning</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Services</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/residential-vaastu">Residential Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/commercial-vaastu">Commercial Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/kundali-matrimony">Kundali Milan & Matrimony</a>
          <a class="dropdown-item" href="#" routerLink="/palmistry-service">Palmistry Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-service">Numerology & Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/privacy-policy">Privacy Policy</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">FAQ'S</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/vaastu-articles">Vaastu Articles</a>
          <a class="dropdown-item" href="#" routerLink="/astrology-articles">Astrology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-articles">Numerology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/fengshui-articles">Feng Shui Articles</a>
          <a class="dropdown-item" href="#" routerLink="/gemstone-articles">Gem Stone Articles</a>
          <a class="dropdown-item" href="#" routerLink="/pyravaastu-articles">Pyra Vaastu Articles</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          Evaluate
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/kua-number">Evaluate your kua number</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/shopoffice-number">Evaluate your Shop or Office</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/existing-plot">Evaluate your existing or new plot</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/hindi-books">Hindi Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/english-books">English Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/photo-gallery">Photo Gallery</a></li>
          <li><a class="dropdown-item" href="#">Video Gallery</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/educational-vaastu">Vaastu for Educational Institute</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/factories-vaastu">Vaastu for Factories</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/hospitals-vaastu">Vaastu for Hospitals</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/shops-vaastu">Vaastu for Shops</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/banks-vaastu">Vaastu for Banks</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/drawingroom-vaastu">Vaastu for Drawing Room</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kitchens-vaastu">Vaastu for Kitchen</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/masterbedroom-vaastu">Vaastu for Master Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kidsbedroom-vaastu">Vaastu for Kids Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/watersource-vaastu">Vaastu for Water Source</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-health">Feng Shui for Health</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-wealth">Feng Shui for Wealth</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-education">Fend Shui for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-harmony">Feng Shui for Harmony</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-office">Feng Shui for Office</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/vaastu-career">Vaastu for Career</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/marriage-vaastu">Vaastu for Marriage</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/education-vaastu">Vaastu for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/business-vaastu">Vaastu for Business</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/wealth-vaastu">Vaastu for Wealth</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/contact-us">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="shadow-none p-3 mb-5 bg-light rounded mx-auto">
  <div class="row">
    <div class="col-md-9">
      <h1 class="" style="font-size: 27px">Consultation Services for Commercial Vaastu</h1>
    </div>
    <div class="col-md-12">
      <ol class="breadcrumb bg-light" style="background-color: white">
        <li class="breadcrumb-item ms-auto"><a href="" style="text-decoration: none">Home</a></li>
        <li class="breadcrumb-item" style="color: darkorange">Vastu Consultation Services</li>
      </ol>
    </div>
    <div class="bg-dark text-white my-0 p-2">
      <h3 class="text-center s2">Request an Appointment</h3>
      <form role="form" method="post" action="mailto:aravindjothi98@gmail.com">
        <div class="form-row p-3">
          <div class="col-md-5 p-2 mx-auto">
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="col-md-5 p-2 mx-auto">
            <input type="text" class="form-control" placeholder="Your Email">
          </div>
          <div class="col-md-5 p-2 mx-auto">
            <input type="text" class="form-control" placeholder="Your City">
          </div>
          <div class="col-md-5 p-2 mx-auto">
            <select class="custom-select">
              <option>Select Service</option>
              <option>Astrology / Jyotish</option>
              <option>Vaastu Consultancy</option>
              <option>Vaastu Site Visit</option>
              <option>Map Consultancy</option>
              <option>Vaastu Education</option>
              <option>Astrology Education</option>
              <option>Palm Reading via Email</option>
              <option>Palmistry Education</option>
            </select>
          </div>
          <div class="container-fluid text-center p-3">
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-outline-light">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <div>
        <h2>Residential Vaastu Consultation<span style="color: darkorange">- by Pt. Gopal Sharma</span></h2>
        <h6>Consultancy services for Vaastu, Feng Shui, Astrology, Palmistry , Numerology by expert from India</h6>
        <p class="mt-5" style="text-align: justify">Our Commercial Vaastu, Astrology (Jyotish) consultation services are available across India, USA, Dubai, United Kingdom, France, Germany, Australia, Sri Lanka, Burma, Bhutan, America (USA), South Africa, Canada, North America, Italy, Russia, Mozambique. All the consultations can be availed either by email, telephone or On-Site visit. All consultations are on prior appointments only.</p>
      </div>
      <div>
        <h4 style="color: grey">For Commercial Properties :</h4>
        <p>Govt. Offices, Corporate Offices, Meeting Places, Shops, Showrooms, Malls, Restaurants, Banquet halls, Motels, Inns, Hotels, Hospitals, Laboratories, Nursing home, Clinic, Educational Institutions, Schools, Colleges, Universities, Theaters and Cinemas, Sports-Complex, Auditoriums, Stadium, Recreation Clubs, Apartments, Factory, Small-Medium-Large Industries, All types of Mills etc.<br></p>
        <h4 style="color: grey">Map Analysis includes: </h4>
        <p>Conceptualization of Map, Interior-Planning, Color-Schemes etc... </p>
        <p>
        <h6>Corporate Vaastu Consultancy</h6>
        <ul style="list-style: none">
          <li><i class="fas fa-arrow-right" style="color: firebrick"></i><span class="ms-2">Implimentation of vaastu principles without demolition</span></li>
          <li><i class="fas fa-arrow-right" style="color: firebrick"></i><span class="ms-2">Corporate logo analysis/ designing as per vaastu & feng shui</span></li>
          <li><i class="fas fa-arrow-right" style="color: firebrick"></i><span class="ms-2">Periodic visits & supervision for plants & office</span></li>
          <li><i class="fas fa-arrow-right" style="color: firebrick"></i><span class="ms-2">Consultancy for smooth production</span></li>
          <li><i class="fas fa-arrow-right" style="color: firebrick"></i><span class="ms-2">Consultancy for achieving sales target</span></li>
          <li><i class="fas fa-arrow-right" style="color: firebrick"></i><span class="ms-2">Turn key services for existing/proposed projects</span></li>
        </ul>

      </div>
      <div class="card-group">
        <div class="card">
          <img class="card-img-top mx-auto mt-3" src="./assets/images/residential-vaastu/1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Residential Vaastu Consultancy</h5>
            <p class="card-text" style="text-align: justify">Residential Vaastu consultation service for home, flat, plot, kothi, farm house, floor, appartment</p>
            <div class="text-center">
              <button class="btn btn-outline-dark">VIEW SERVICE DETAILS</button>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top mx-auto mt-3" src="./assets/images/residential-vaastu/2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Commercial Vaastu Consultancy</h5>
            <p class="card-text" style="text-align: justify">Commercial Vaastu consultation services for factories, offices, hospitals</p>
            <div class="text-center">
              <button class="btn btn-outline-dark">VIEW SERVICE DETAILS</button>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top mx-auto mt-3" src="./assets/images/residential-vaastu/3.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="" style="text-decoration: none" class="text-dark">
              <h5 class="card-title text-center">Turnkey Project Consultancy</h5>
            </a>
            <p class="card-text" style="text-align: justify">Vaastu consultancy service for complete project from land selection to construction to operation</p>
            <div class="text-center">
              <button class="btn btn-outline-dark">VIEW SERVICE DETAILS</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <div class="card-body">
          <button class="btn btn-primary"><i class="far fa-file-pdf"></i><span class="ms-2">Download Brochure</span></button>
        </div>
      </div>
      <br>
      <div class="card text-center">
        <div class="card-body">
          <div class="card-title">
            <h5 class="text-dark">CONTACT INFO</h5>
            <p class="text-dark">B-292, Saraswati Vihar<br>Outer Ring Road, Pitampura,<br> New Delhi</p><br>
            <p class="text-dark"><strong>Call us for further details</strong><br><span style="color: darkorange">27020736, 27030966<br>27030967, 47562167<br> 9313754200, 9810100533</span></p><br>
          </div>
        </div>
      </div>
      <br>
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">
          <h4>Have questions about our services?</h4>
        </div>
        <div class="card-body">
          <p style="text-align: justify">If you have any question related to our services, feel free to contact us using our numbers directly or leave a message using the link below.</p>
          <div class="text-center">
            <button class="btn btn-outline-light" routerLink="/contact-us">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="client-count-wrp container-fluid">
  <div class="container">
    <div class="client-count-wrp-inner mx-auto">
      <div class="cards">
        <div class="text-center" style="color: #e4a600;font-size: 50px"><i class="fas fa-tree"></i></div>
        <h4  class="text-center">{{projectcount}}</h4>
        <p  class="text-center" style="color: #e4a600">Growths Reported</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #48b84b;font-size: 50px"><i class="fas fa-users"></i></div>
        <h4 class="text-center">{{accuratecount + "%"}}</h4>
        <!--concat % sign-->
        <p  class="text-center" style="color: #48b84b;">Happy Famlies</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #28a5df;font-size: 50px"><i class="fas fa-map-signs"></i></div>
        <h4 class="text-center">{{clientcount}}</h4>
        <p class="text-center" style="color: #28a5df">Offices & Factories</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #c81010;font-size: 50px"><i class="far fa-hand-peace"></i></div>
        <h4 class="text-center">{{customerfeedback + "%"}}</h4>
        <p class="text-center" style="color: #c81010">Flats & Houses</p>
      </div>
      <!--card-->
    </div>
  </div>
</div>
<app-footer-sec></app-footer-sec>



