<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">About Us</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-us">About Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/awards-honours">Awards & Honours</a>
          <a class="dropdown-item" href="#" routerLink="/client-list">Client List</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-services">Services we offer</a>
          <a class="dropdown-item" href="#" routerLink="/contact-us">Contact Us</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-books">Books by Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/course-gallery">Website Disclaimer</a>
          <a class="dropdown-item" href="#">Our Social Project</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Institute</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-institute-ivjl">About IVJL</a>
          <a class="dropdown-item" href="#" routerLink="/our-faculty">Our Faculty</a>
          <a class="dropdown-item" href="#" routerLink="/admission-curriculum">Admission & Curriculum</a>
          <a class="dropdown-item" href="#" routerLink="/special-courses">Special Courses</a>
          <a class="dropdown-item" href="#" routerLink="/distance-learning">Distance Learning</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Services</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/residential-vaastu">Residential Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/commercial-vaastu">Commercial Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/kundali-matrimony">Kundali Milan & Matrimony</a>
          <a class="dropdown-item" href="#" routerLink="/palmistry-service">Palmistry Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-service">Numerology & Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/privacy-policy">Privacy Policy</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">FAQ'S</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/vaastu-articles">Vaastu Articles</a>
          <a class="dropdown-item" href="#" routerLink="/astrology-articles">Astrology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-articles">Numerology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/fengshui-articles">Feng Shui Articles</a>
          <a class="dropdown-item" href="#" routerLink="/gemstone-articles">Gem Stone Articles</a>
          <a class="dropdown-item" href="#" routerLink="/pyravaastu-articles">Pyra Vaastu Articles</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          Evaluate
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/kua-number">Evaluate your kua number</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/shopoffice-number">Evaluate your Shop or Office</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/existing-plot">Evaluate your existing or new plot</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/hindi-books">Hindi Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/english-books">English Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/photo-gallery">Photo Gallery</a></li>
          <li><a class="dropdown-item" href="#">Video Gallery</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/educational-vaastu">Vaastu for Educational Institute</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/factories-vaastu">Vaastu for Factories</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/hospitals-vaastu">Vaastu for Hospitals</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/shops-vaastu">Vaastu for Shops</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/banks-vaastu">Vaastu for Banks</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/drawingroom-vaastu">Vaastu for Drawing Room</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kitchens-vaastu">Vaastu for Kitchen</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/masterbedroom-vaastu">Vaastu for Master Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kidsbedroom-vaastu">Vaastu for Kids Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/watersource-vaastu">Vaastu for Water Source</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-health">Feng Shui for Health</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-wealth">Feng Shui for Wealth</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-education">Fend Shui for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-harmony">Feng Shui for Harmony</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-office">Feng Shui for Office</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/vaastu-career">Vaastu for Career</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/marriage-vaastu">Vaastu for Marriage</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/education-vaastu">Vaastu for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/business-vaastu">Vaastu for Business</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/wealth-vaastu">Vaastu for Wealth</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/contact-us">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="shadow-none p-3 mb-5 bg-light rounded mx-auto">
  <div class="row">
    <div class="col-md-auto">
      <h1 class="ms-5" style="font-size: 27px">Contact Us</h1>
    </div>
    <div class="col mb-3">
      <ol class="breadcrumb p-2 bg-light" style="background-color: white">
        <li class="breadcrumb-item ms-auto"><a href="" style="text-decoration: none;color: black">Home</a></li>
        <li class="breadcrumb-item" style="color: darkorange">Contact</li>
      </ol>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto">
    <div class="col-md-8">
      <img src="./assets/images/contact-us/1.png" alt="" style="width: 100%">
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="ms-2">
    <h5>Get in touch</h5>
    <hr style="width: 90%">
  </div>
  <div class="row ms-3">
    <div class="col-md-8 col-sm-7">
      <p style="text-align: justify">We would be delighted to serve you with our services, just use the form below or choose the services you are interested in and we will be in touch with you in few hours. We’re available from Monday to Saturday, 10:00-18:00 to take your call.</p>
      <form>
        <div class="form-row">
          <div class="col-md-5 col-sm-5">
            <label>Name (required)</label>
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="col-md-5 col-sm-5">
            <label>Email (required)</label>
            <input type="text" class="form-control" placeholder="Your Email">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-5 col-sm-5">
            <label>Phone (required)</label>
            <input type="text" class="form-control" placeholder="Your Phone">
          </div>
          <div class="col-md-5 col-sm-5">
            <label>Address (required)</label>
            <input type="text" class="form-control" placeholder="Your Address">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-10 mt-3">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Your Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-dark">CONTACT NOW</button>
      </form>
    </div>
    <div class="col-md-4 mx-auto mt-2">
      <div class="corner">
        <h4 style="color: #eaf2f8;" class="mt-2">Working Hours</h4>
        <ul style="list-style: none" class="text-center">
          <li class="me-4">
            <span style="font-size: 25px;color: #eaf2f8" class="me-4">Monday</span>
            <strong style="font-size: 25px;color: #eaf2f8" class="ms-auto">10:00 - 18:00</strong>
          </li>
          <hr style="width: 90%;color: black" class="ms-2">
          <li class="me-4">
            <span style="font-size: 25px;color: #eaf2f8" class="me-4">Tuesday</span>
            <strong style="font-size: 25px;color: #eaf2f8" class="ms-auto">10:00 - 18:00</strong>
          </li>
          <hr style="width: 90%;color: black" class="ms-2">
          <li class="me-4">
            <span style="font-size: 25px;color: #eaf2f8" class="me-auto">Wednesday</span>
            <strong style="font-size: 25px;color: #eaf2f8" class="ms-auto">10:00 - 18:00</strong>
          </li>
          <hr style="width: 90%;color: black" class="ms-2">
          <li class="me-4">
            <span style="font-size: 25px;color: #eaf2f8" class="me-4">Thursday</span>
            <strong style="font-size: 25px;color: #eaf2f8" class="ms-auto">10:00 - 18:00</strong>
          </li>
          <hr style="width: 90%;color: black" class="ms-2">
          <li class="me-4">
            <span style="font-size: 25px;color: #eaf2f8" class="me-4">Friday</span>
            <strong style="font-size: 25px;color: #eaf2f8" class="ms-auto">10:00 - 18:00</strong>
          </li>
          <hr style="width: 90%;color: black" class="ms-2">
          <li class="me-4">
            <span style="font-size: 25px;color: #eaf2f8" class="me-4">Saturday</span>
            <strong style="font-size: 25px;color: #eaf2f8" class="ms-auto">10:00 - 18:00</strong>
          </li>
          <hr style="width: 90%;color: black" class="ms-2">
          <li class="me-4">
            <span style="font-size: 25px;color: #eaf2f8" class="me-4">Sunday</span>
            <strong style="font-size: 25px;color: #eaf2f8" class="ms-auto">10:00 - 18:00</strong>
          </li>
        </ul>
      </div>
      <br>
      <div class="col-md-10">
        <div class="card text-center">
          <div class="card-body">
            <div class="card-title">
              <h5>CONTACT INFO</h5>
              <p>B-292, Saraswati Vihar<br>Outer Ring Road, Pitampura,<br> New Delhi</p><br>
              <p><strong>Call us for further details</strong><br><span style="color: darkorange">27020736, 27030966<br>27030967, 47562167<br> 9313754200, 9810100533</span></p><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13998.749228259627!2d77.122366!3d28.698999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd186cace42644665!2sInstitute+Of+Vaastu+%26+Joyful+Living!5e0!3m2!1sen!2sin!4v1513163467975" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="#" style="text-decoration: none">
        <h1 style="color: darkorange"><i class="fas fa-phone-volume"></i><span class="ms-2">Contact Details</span></h1>
      </a>
      <p><strong> Contact for prior Appointments</strong></p>
      <p>
        <h5>Corporate Office</h5>
      <p class="mt-3">
        B-292, Saraswati Vihar, Outer Ring Road, Pitampura, New Delhi - 110034, INDIA<br>
        Phone : 27020736, 27030966/67 Fax : 91-11-47562167<br>
        Mobile : 9313754200, 9810100533<br>
        E-mail : ptgopal@yahoo.com
      </p>
      <p>
        <h5>Ontario, Canada</h5>
      <p class="mt-3">
        Mr. Pyuesh Gupta<br>
        #2343, Wild Wood Creasent, Pickering, Ontario LIx - 2NI<br>
      </p>
      <p>
        <h5>New Jersey, USA</h5>
      <p class="mt-3">
        Ms. Arti Rath<br>
        Phone: +1 (732) 549-1440<br>
        email: rath.arti@gmail.com<br>
      </p>
    </div>
    <div class="col-md-6">
      <a href="#" style="text-decoration: none">
        <h1 style="color: darkorange"><i class="fas fa-phone-volume"></i><span class="ms-2">Contact Numbers</span></h1>
      </a>
      <p><strong> Contact for prior Appointments</strong></p>
      <ul class="timeline">
        <li>
          <h5 style="color: grey">International Whatsapp No: (+91)9810054314</h5>
        </li>
        <li>
          <h5 style="color: grey">India Roaming No: (+91)9810504178</h5>
        </li>
        <li>
          <h5 style="color: grey">Dubai Local No: 056-36-16-422</h5>
        </li>
        <li>
          <h5 style="color: grey">Canada Local No: 647-786-0107</h5>
        </li>
        <li>
          <h5 style="color: grey">USA Local No: +1 (925) 854-8056</h5>
        </li>
        <li>
          <h5 style="color: grey">Sweden Local No: 0046739079666</h5>
        </li>
        <li>
          <h5 style="color: grey">Delhi Local No: (+91)9313754200</h5>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer-sec></app-footer-sec>
