<div class="container-fluid">
  <div class="content">
    <div class="shadow-row">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h1 class="s3">Welcome to World of Vaastu, Astrology & Feng-Shui</h1>
          <p class="p1"><strong>Vaastu: Source to Health, Wealth and Prosperity</strong></p>
          <p class="p2"><strong>Vaastu | Astrology | Consultancy | Products | Services | Institute | Books</strong></p>
          <div class="card mb-2">
            <img class="card-img-top" src="assets/images/wel-astro/1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Vaastu For Better Living</h5>
              <p class="card-text">Residential Vaastu, Commercial place vaastu, Vaastu for Industries, Astrology, Numerology, Feng-Shui, Pyra-Vaastu, Map Analysis, Horoscope, Site Visit and many other Consultation are available with prior appointment.</p>
              <a href="vaastu/"  title="vaastu astrology Palmistry vastu consultant delhi articles">Vaastu</a>
              | <a href="astrology/" title="vaastu astrology Palmistry vastu consultant delhi articles">Astrology</a>
              | <a href="feng-shui/" title="vaastu astrology Palmistry vastu consultant delhi articles">Feng Shui</a>
              | <a href="numerology/" title="vaastu astrology Palmistry vastu consultant delhi articles">Numerology</a>
              | <a href="gemology/"  title="vaastu astrology Palmistry vastu consultant delhi articles">Gem Stones</a>
              | <a href="pyra-vaastu/" title="vaastu astrology Palmistry vastu consultant delhi articles">Pyramidology</a>
              | <a href="about-us-vaastu-astrology-palmistry.html"  title="About vaastu astrology Palmistry vastu consultant delhi">About Us</a>
              | <a href="contact.html"  title="vaastu astrology Palmistry vastu consultant delhi contact details">Contact Us</a>
              | <a href="astrology-vaastu-services/"  title="vaastu astrology Palmistry vastu consultant delhi services">Services</a>
              | <a href="vaastu-astrology-products/" title="vaastu astrology Palmistry vastu consultant delhi articles" >Products</a>
              | <a href="astrology-vaastu-numerology-books/"  title="vaastu astrology Palmistry vastu consultant delhi books">Books</a>
              | <a href="institute/"  title="vaastu astrology Palmistry vastu consultant delhi courses">Courses</a>
              | <a href="disclaimer.html" target="_blank"  title="vaastu astrology Palmistry vastu consultant delhi website disclaimer">Disclaimer</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 mt-auto">
          <section class="timeline-area">
            <div class="v1">
              <h3 style="font-size: 16px" class="text-center">ABOUT THE MASTER</h3>
              <h2 style="font-size: 23px">Pandit Gopal Sharma</h2>
              <p>Pt. Gopal Sharma, a world renowned Vaastu/Feng Shui expert and Astrologer, born in a revered family of Vedic scholars & spiritual healers, is an engineering graduate of 1973 batch, from Delhi College of Engineering; and a luminary in many fields.</p>
              <button type="button" class="btn btn-outline-dark">READ MORE</button>
            </div>
            <div class="v1">
              <h3 style="font-size: 16px" class="text-center">SERVICES OFFERED</h3>
              <h2 style="font-size: 23px">Vaastu & Astrology Consulation</h2>
              <p>Vaastu, Astrology, Numerology, Feng-Shui, Pyra-Vaastu, Map Analysis, Horoscope Analysis, Residential and commercial vaastu correction without demolition.</p>
              <button type="button" class="btn btn-outline-dark">READ MORE</button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

