<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <img src="assets/images/slideshow/1.jpg" class="d-block w-100 mx-auto banner" alt="...">
      <div class="carousel-caption">
        <h5 class="font-weight-bold display-4">The Best Vaastu Remedies at Your doorstep using Pyramids, Crystals & Gem Stones</h5>
        <p>See All Services</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="1000">
      <img src="assets/images/slideshow/2.jpg" class="d-block w-100 mx-auto banner" alt="...">
      <div class="carousel-caption">
        <h5 class="font-weight-bold display-1">Making Your Life Harmonious</h5>
        <p>Manglik Dosha Analysis, Medical Astrology Report, Gems Therapy, Progeny Report</p>
        <p>Book our Service</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="1000">
      <img src="assets/images/slideshow/3.jpg" class="d-block w-100 banner" alt="...">
      <div class="carousel-caption">
        <h5>Simplified Astrology Solutions</h5>
        <p>Horoscope Matching, Career Astrology Report, Financial Astrology Report</p>
        <p>Lets Get Started</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="bg-dark text-white my-0 p-2">
  <h3 class="text-center s2">Request an Appointment</h3>
  <form role="form" method="post" action="mailto:aravindjothi98@gmail.com">
    <div class="form-row p-3">
      <div class="col-md-5 p-2 mx-auto">
        <input type="text" class="form-control" placeholder="Your Name">
      </div>
      <div class="col-md-5 p-2 mx-auto">
        <input type="text" class="form-control" placeholder="Your Email">
      </div>
      <div class="col-md-5 p-2 mx-auto">
        <input type="text" class="form-control" placeholder="Your City">
      </div>
      <div class="col-md-5 p-2 mx-auto">
        <select class="custom-select">
          <option>Select Service</option>
          <option>Astrology / Jyotish</option>
          <option>Vaastu Consultancy</option>
          <option>Vaastu Site Visit</option>
          <option>Map Consultancy</option>
          <option>Vaastu Education</option>
          <option>Astrology Education</option>
          <option>Palm Reading via Email</option>
          <option>Palmistry Education</option>
        </select>
      </div>
      <div class="container-fluid text-center p-3">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-outline-light">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<br>










