<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">About Us</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-us">About Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/awards-honours">Awards & Honours</a>
          <a class="dropdown-item" href="#" routerLink="/client-list">Client List</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-services">Services we offer</a>
          <a class="dropdown-item" href="#" routerLink="/contact-us">Contact Us</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-books">Books by Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/course-gallery">Website Disclaimer</a>
          <a class="dropdown-item" href="#">Our Social Project</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Institute</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-institute-ivjl">About IVJL</a>
          <a class="dropdown-item" href="#" routerLink="/our-faculty">Our Faculty</a>
          <a class="dropdown-item" href="#" routerLink="/admission-curriculum">Admission & Curriculum</a>
          <a class="dropdown-item" href="#" routerLink="/special-courses">Special Courses</a>
          <a class="dropdown-item" href="#" routerLink="/distance-learning">Distance Learning</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Services</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/residential-vaastu">Residential Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/commercial-vaastu">Commercial Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/kundali-matrimony">Kundali Milan & Matrimony</a>
          <a class="dropdown-item" href="#" routerLink="/palmistry-service">Palmistry Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-service">Numerology & Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/privacy-policy">Privacy Policy</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">FAQ'S</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/vaastu-articles">Vaastu Articles</a>
          <a class="dropdown-item" href="#" routerLink="/astrology-articles">Astrology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-articles">Numerology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/fengshui-articles">Feng Shui Articles</a>
          <a class="dropdown-item" href="#" routerLink="/gemstone-articles">Gem Stone Articles</a>
          <a class="dropdown-item" href="#" routerLink="/pyravaastu-articles">Pyra Vaastu Articles</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          Evaluate
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/kua-number">Evaluate your kua number</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/shopoffice-number">Evaluate your Shop or Office</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/existing-plot">Evaluate your existing or new plot</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/hindi-books">Hindi Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/english-books">English Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/photo-gallery">Photo Gallery</a></li>
          <li><a class="dropdown-item" href="#">Video Gallery</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/educational-vaastu">Vaastu for Educational Institute</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/factories-vaastu">Vaastu for Factories</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/hospitals-vaastu">Vaastu for Hospitals</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/shops-vaastu">Vaastu for Shops</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/banks-vaastu">Vaastu for Banks</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/drawingroom-vaastu">Vaastu for Drawing Room</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kitchens-vaastu">Vaastu for Kitchen</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/masterbedroom-vaastu">Vaastu for Master Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kidsbedroom-vaastu">Vaastu for Kids Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/watersource-vaastu">Vaastu for Water Source</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-health">Feng Shui for Health</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-wealth">Feng Shui for Wealth</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-education">Fend Shui for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-harmony">Feng Shui for Harmony</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-office">Feng Shui for Office</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/vaastu-career">Vaastu for Career</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/marriage-vaastu">Vaastu for Marriage</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/education-vaastu">Vaastu for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/business-vaastu">Vaastu for Business</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/wealth-vaastu">Vaastu for Wealth</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/contact-us">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="shadow-none p-3 mb-5 bg-light rounded mx-auto">
  <div class="row">
    <div class="col-md-auto">
      <h1 class="ms-5" style="font-size: 40px">List of Satisfied Clients</h1>
    </div>
    <div class="col mt-2">
      <ol class="breadcrumb p-2 bg-light" style="background-color: white">
        <li class="breadcrumb-item ms-auto"><a href="" style="text-decoration: none;color: black">Home</a></li>
        <li class="breadcrumb-item" style="color: darkorange">List of Clients</li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>List of Satisfied Clients<span style="color: darkorange">- for Vaastu & Jyotish</span></h1>
      <p><strong>Consultancy services for Vaastu, Feng Shui, Astrology, Palmistry , Numerology by expert from India</strong></p>
      <p>The clients who have adopted suggestions and the remedies, have reported excellent results, come from very prestigious business houses, to name a few.......</p>
      <ol style="list-style: none;text-align: justify">
        <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong> Villa & Resorts LLP, Ludhiana</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Deepak Fertilizers and Petrochemicals Ltd., India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Indu Maritimes & Logistics, UAE</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Indian Express Group, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Services provided at Mumbai, Puna, Nagpur, Hyderabad, Bangalore, Calcutta, Greater Noida and Delhi</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Sahni General Trading Co. LLC, UAE</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Canara Bank, Banguluru, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Union Bank, Mumbai, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Green Valley Industries Limited(Max Cement), Jaintia Hills, Meghalaya, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>The institute of Noetic Sciences, Petaluma, California</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Alsisar Hotels, Rajasthan , India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>House of Chemicals, Dubai</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Life Long India Ltd., Gurgaon, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Life Long Meditech Ltd., Gurgaon , India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Omax Autos Ltd, Gurgaon , India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Omax Steel Ltd, Gurgaon , India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Shreejee Group of Companies, Zambia</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>International Electron Devices Ltd., Ghaziabad, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Toyo Springs Ltd, Sonepat, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/s Oamxe Group of Companies, Delhi India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Mr. Rajat Sharma, India TV</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Mr. Bhaskar Rao Patil Khatgaonkar, Vice President,
    M/s Maharastra State Co-Operative Sugar Mills Fedration Ltd.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Punjab & Sind Bank</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Punjab National Bank</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Bank of Baroda</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Bank of India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/s Binjusaria Extractions Limited, Hyderabad</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/s Singhal Group of Industries, Shahjahanpur, UP</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/s Ester Industries Limited, Khatima, UP</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/s Sanklecha Builders & Developers, Nasik, Maharastra</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/s Bharat Starch Industries Ltd., New Delhi</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/s Knight Queen Industries (P) Ltd., Nahan, H.P.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/s Raymonds Ltd. New Delhi.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/s Mandvi Ispat Pvt. Ltd., Cuncolin, Goa.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Birla Group of Companies.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Thapar Group of Companies.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Jindal Group of Companies.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Surya Group of Companies.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>LMJ Logistics Limited, Delhi</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Time Machine Group FZCO, Dubai</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Shalimar International L.L.C, Dubai</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Alphonse Island Resorts, Republic of Seychelles</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Hilton Seychelles, Platte islands, Republic of Seychelles</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Coral Strand Hotel, Mahe, Republic of Seychelles</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Reliance Infocomm Ltd., Delhi, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>National Book Trust, Delhi, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Eastman Industries, Delhi, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Study By Janak, Delhi, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Overseas Connexions, Delhi, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Tim Hortons Group, Canada</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>PASCO Automobiles, Delhi, India
Services provided at Delhi, Punjab, Haryana and Rajasthan</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>PNR Security Limited, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Pragya Channel, Delhi, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Telecom Regulatory Authority of India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Jay pee Greens, Greater Noida, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Sri Venkateshwara Temple, Chicago ...</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Luthra & Luthra(Law offices), India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Kajaria Tiles India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>GALGOTIA'S COLLEGE OF ENGINEERING AND TECHNOLOGY, Greater Noida, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Sh. Timmie Kumar, Clarks Group of Hotels, Jaipur, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Sh. Jiggs Kalra, Punjab Grill Restaurant, Mumbai, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Ms. Bharti Prasha, Maharishi Arvind Institute of Engineering & Technology, Jaipur, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Sh.Ramesh Baheti, STI India Ltd. Indore, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Sh. Rajoo Sanasy, STI Phoenix Wear Pvt Ltd, India</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>August, the range of Modular Kitchen, Basant lok, Delhi</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Pustak Mahal, Delhi</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>SRS-Builders & Developers, Faridabad</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>RPS-Builders & Developers, Faridabad</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Action Group of Companies, Delhi</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Patanjali Yogpeeth, Haridwar</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Valliere Aviation Group, Luxembourg</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Chateauroux Centre, Deols, France.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Sky one FZE, Sharjah, UAE</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Aerospace FZE, Sharjah, UAE</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Restaurant Indien GOA, 19 Rue, Augereau, Paris, France</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Jayaswal Neco Industries Limited Steel Plant at Siltara, Raipur.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Jayaswal Neco Industries Ltd., Thermal Power Plant, Raigarh, Chhattisgarh.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/S Swiss Auto Group of Industries Delhi</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/S Aggarwal Rice Mills, Bardhaman, West Bengal.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/S Aggarwal Steel Mills, Durgapur, West Bengal.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Ahluwalia Construction Ltd, Delhi.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>AVG Logistics Ltd. Delhi</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Allahabad Bank, Calcutta.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>RSA Coldchain Global Company</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/S Flexipol Foam Pvt. Ltd, Bhiwadi, Rajasthan</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Piramal Group of Company, Mumbai, Maharashtra</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/S Mittal Electronics (Sujata brand of home appliances), Delhi.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/S Singhal Group of Industries, Ghaziabad, Uttar Pradesh.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>News 18, Mumbai</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Rohit Bal - Fashion Designer, Group of Industries, Gurgaon.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Hellman Worldwide Logistics Ltd. UAE, Shri Lanka, Kuwait, Saudi Arab - Jeddah, Riyadh.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/S Gautam & Gautam Associates, Architects, Delhi, Faridabad, Dubai.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/S Choice Group Of Industries Cochin, Chennai and New York</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>M/S Sheela Foams (Sleep Well Group Of Companies), Greater Noida, Punjab, Erode (Tamil Nadu), Hyderabad, Coimbatore, Sikkim, Jalpaiguri, Talwada (Gujarat), Silvassa, Dadra and Nagar Haveli, India.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Ansal Group of Companies, Greater Noida.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Dia'33 Group of companies, UAE</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>The Sassy Spoon Restaurants, Mumbai.</strong></span></li>
          <br>
          <li><i class="fas fa-map-marker-alt" style="color: darkorange"></i><span class="ms-2"><strong>Baraza, Bar & Bites Restaurants, Pune</strong></span></li>
        </ol>
    </div>
    <div class="col-md-4">
      <div class="list-group" role="tablist">
        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#" role="tab">About Pt. Gopal Sharma</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/vaastu-services">Astrology & Vaastu services</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">About Institute - IVJL</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/book-service">Request an Appointment</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab">Frequently asked questions</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/contact-us">Contact us</a>
      </div>
      <br>
      <div class="card text-center">
        <div class="card-body">
          <div class="card-title">
            <h5>CONTACT INFO</h5>
            <p>B-292, Saraswati Vihar<br>Outer Ring Road, Pitampura,<br> New Delhi</p><br>
            <p><strong>Call us for further details</strong><br><span style="color: darkorange">27020736, 27030966<br>27030967, 47562167<br> 9313754200, 9810100533</span></p><br>
          </div>
        </div>
      </div>
      <br>
      <div class="card text-center">
        <div class="card-body">
          <button class="btn btn-primary"><i class="far fa-file-pdf"></i><span class="ms-2">Download Brochure</span></button>
        </div>
      </div>
      <br>
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">
          <h4>Have questions about our services?</h4>
        </div>
        <div class="card-body">
          <p>If you have any question related to our services, feel free to contact us using our numbers directly or leave a message using the link below.</p>
          <div class="text-center">
            <button class="btn btn-outline-light" routerLink="/contact-us">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="client-count-wrp container-fluid">
  <div class="container">
    <div class="client-count-wrp-inner mx-auto">
      <div class="cards">
        <div class="text-center" style="color: #e4a600;font-size: 50px"><i class="fas fa-tree"></i></div>
        <h4  class="text-center">{{projectcount}}</h4>
        <p  class="text-center" style="color: #e4a600">Growths Reported</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #48b84b;font-size: 50px"><i class="fas fa-users"></i></div>
        <h4 class="text-center">{{accuratecount + "%"}}</h4>
        <!--concat % sign-->
        <p  class="text-center" style="color: #48b84b;">Happy Famlies</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #28a5df;font-size: 50px"><i class="fas fa-map-signs"></i></div>
        <h4 class="text-center">{{clientcount}}</h4>
        <p class="text-center" style="color: #28a5df">Offices & Factories</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #c81010;font-size: 50px"><i class="far fa-hand-peace"></i></div>
        <h4 class="text-center">{{customerfeedback + "%"}}</h4>
        <p class="text-center" style="color: #c81010">Flats & Houses</p>
      </div>
      <!--card-->
    </div>
  </div>
</div>
<app-footer-sec></app-footer-sec>


