<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">About Us</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-us">About Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/awards-honours">Awards & Honours</a>
          <a class="dropdown-item" href="#" routerLink="/client-list">Client List</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-services">Services we offer</a>
          <a class="dropdown-item" href="#" routerLink="/contact-us">Contact Us</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-books">Books by Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/course-gallery">Website Disclaimer</a>
          <a class="dropdown-item" href="#">Our Social Project</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Institute</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-institute-ivjl">About IVJL</a>
          <a class="dropdown-item" href="#" routerLink="/our-faculty">Our Faculty</a>
          <a class="dropdown-item" href="#" routerLink="/admission-curriculum">Admission & Curriculum</a>
          <a class="dropdown-item" href="#" routerLink="/special-courses">Special Courses</a>
          <a class="dropdown-item" href="#" routerLink="/distance-learning">Distance Learning</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Services</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/residential-vaastu">Residential Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/commercial-vaastu">Commercial Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/kundali-matrimony">Kundali Milan & Matrimony</a>
          <a class="dropdown-item" href="#" routerLink="/palmistry-service">Palmistry Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-service">Numerology & Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/privacy-policy">Privacy Policy</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">FAQ'S</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/vaastu-articles">Vaastu Articles</a>
          <a class="dropdown-item" href="#" routerLink="/astrology-articles">Astrology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-articles">Numerology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/fengshui-articles">Feng Shui Articles</a>
          <a class="dropdown-item" href="#" routerLink="/gemstone-articles">Gem Stone Articles</a>
          <a class="dropdown-item" href="#" routerLink="/pyravaastu-articles">Pyra Vaastu Articles</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          Evaluate
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/kua-number">Evaluate your kua number</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/shopoffice-number">Evaluate your Shop or Office</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/existing-plot">Evaluate your existing or new plot</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/hindi-books">Hindi Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/english-books">English Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/photo-gallery">Photo Gallery</a></li>
          <li><a class="dropdown-item" href="#">Video Gallery</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/educational-vaastu">Vaastu for Educational Institute</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/factories-vaastu">Vaastu for Factories</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/hospitals-vaastu">Vaastu for Hospitals</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/shops-vaastu">Vaastu for Shops</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/banks-vaastu">Vaastu for Banks</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/drawingroom-vaastu">Vaastu for Drawing Room</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kitchens-vaastu">Vaastu for Kitchen</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/masterbedroom-vaastu">Vaastu for Master Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kidsbedroom-vaastu">Vaastu for Kids Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/watersource-vaastu">Vaastu for Water Source</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-health">Feng Shui for Health</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-wealth">Feng Shui for Wealth</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-education">Fend Shui for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-harmony">Feng Shui for Harmony</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-office">Feng Shui for Office</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/vaastu-career">Vaastu for Career</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/marriage-vaastu">Vaastu for Marriage</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/education-vaastu">Vaastu for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/business-vaastu">Vaastu for Business</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/wealth-vaastu">Vaastu for Wealth</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/contact-us">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="shadow-none p-3 mb-5 bg-light rounded mx-auto">
  <div class="row">
    <div class="col-md-auto">
      <h1 class="ms-5" style="font-size: 27px">Vaastu & Astrology Books</h1>
    </div>
    <div class="col mb-3">
      <ol class="breadcrumb p-2 bg-light" style="background-color: white">
        <li class="breadcrumb-item ms-auto"><a href="" style="text-decoration: none;color: black">Home</a></li>
        <li class="breadcrumb-item" style="color: darkorange">Vaastu & Astrology Books</li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Books by<span style="color: darkorange"> - Pandit Gopal Sharma</span></h1>
      <p><strong>Vaastu, Feng Shui, Astrology, Numerology Books by World renowned Vaastu, Feng Shui, Astrology, Numerology expert.</strong></p>
      <h3>Hindi Section</h3>
      <div class="row">
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/1.jpg">
                </div>
                1. Laxmi Pravesh Kaise Ho </h4>
              <h6>by Pt. Gopal Sharma </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/2.jpg">
                </div>
                2. Sugam Vaastu Shastra </h4>
              <h6>by Pt. Gopal Sharma </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/3.jpg">
                </div>
                3. Pragatisheel Vaastu</h4>
              <h6>by Pt. Gopal Sharma, B.E.</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/4.jpg">
                </div>
                4. Sukh ka Adhar Vaastu dwara sudhar bina thod fod</h4>
              <h6>by Pt. Gopal Sharma, B.E.<br/> Dr. D. P. Rao</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/5.jpg">
                </div>
                5. Safal Jeevan Mein Ankon Ka Mahatva</h4>
              <h6>by Pt. Gopal Sharma </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/6.jpg">
                </div>
                6. Moksha Vatika</h4>
              <h6>by Pt. Gopal Sharma </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/7.jpg">
                </div>
                7. Vaastu Parichaya</h4>
              <h6>by Pt. Gopal Sharma<br/>Jyotisacharya Pt. Suresh Shastri</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/8.jpg">
                </div>
                8. Hum Honge Kamyab</h4>
              <h6>by Pt. Gopal Sharma </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/9.jpg">
                </div>
                9. Ratno Mein Nihit Upchaar Shakti</h4>
              <h6>by Pt. Gopal Sharma <br/> Pracharya Sewaram Jaipuria</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/10.jpg">
                </div>
                10. Janiye Upchar Pyra-Vaastu Tatha Feng-Shui Dwara</h4>
              <h6>by Pt. Gopal Sharma  <br/> Dr. D.P. Rao </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/11.jpg">
                </div>
                11. Shri Sai Gruha Vaastu Sutra</h4>
              <h6> by Pt. Gopal Sharma, B.E.  <br/> Dr. D. P. Rao </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/12.jpg">
                </div>
                12. I-Ching Dwar Ka Prabhav</h4>
              <h6>by Pt. Gopal Sharma, B.E.</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/13.jpg">
                </div>
                13. 108 - Sunahari Upaya - Sukh aur Safalta ke liye</h4>
              <h6>by Pt. Gopal Sharma  <br/> Dr. D. P. Rao </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/14.jpg">
                </div>
                14. Anko Ka Chamatkar</h4>
              <h6>by Pt. Gopal Sharma  <br/> Dr. D.P.Rao</h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/15.jpg">
                </div>
                15. Pyramid Shakti Tatha Vaastu</h4>
              <h6>by Pt. Gopal Sharma </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/16.jpg">
                </div>
                16. Moksha Dham</h4>
              <h6>by Pt. Gopal Sharma </h6>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height:150px;">
            <a href="astrology-vaastu-numerology-books-palmistry.php?book_lang=h&sr_no=1" style="text-decoration: none;color: black">
              <h4>
                <div style="float:left; padding-right:20px;">
                  <img src="./assets/images/vaastu-books/17.jpg">
                </div>
                17. Adhunik Feng-Shui</h4>
              <h6>by Pt. Gopal Sharma </h6>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-5">
      <div class="list-group" role="tablist">
        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#" role="tab" routerLink="/about-us">About Pt. Gopal Sharma</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/vaastu-services">Astrology & Vaastu services</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab" routerLink="/about-institute-ivjl">About Institute - IVJL</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/book-service">Request an Appointment</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/articles">Frequently asked questions</a>
        <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" role="tab" routerLink="/contact-us">Contact us</a>
      </div>
      <br>
      <div class="card text-center">
        <div class="card-body">
          <div class="card-title">
            <h5>CONTACT INFO</h5>
            <p>B-292, Saraswati Vihar<br>Outer Ring Road, Pitampura,<br> New Delhi</p><br>
            <p><strong>Call us for further details</strong><br><span style="color: darkorange">27020736, 27030966<br>27030967, 47562167<br> 9313754200, 9810100533</span></p><br>
          </div>
        </div>
      </div>
      <br>
      <div class="card text-center">
        <div class="card-body">
          <button class="btn btn-primary"><i class="far fa-file-pdf"></i><span class="ms-2">Download Brochure</span></button>
        </div>
      </div>
      <br>
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">
          <h4>Have questions about our services?</h4>
        </div>
        <div class="card-body">
          <p>If you have any question related to our services, feel free to contact us using our numbers directly or leave a message using the link below.</p>
          <div class="text-center">
            <button class="btn btn-outline-light">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="client-count-wrp container-fluid">
  <div class="container">
    <div class="client-count-wrp-inner mx-auto">
      <div class="cards">
        <div class="text-center" style="color: #e4a600;font-size: 50px"><i class="fas fa-tree"></i></div>
        <h4  class="text-center">{{projectcount}}</h4>
        <p  class="text-center" style="color: #e4a600">Growths Reported</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #48b84b;font-size: 50px"><i class="fas fa-users"></i></div>
        <h4 class="text-center">{{accuratecount + "%"}}</h4>
        <!--concat % sign-->
        <p  class="text-center" style="color: #48b84b;">Happy Famlies</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #28a5df;font-size: 50px"><i class="fas fa-map-signs"></i></div>
        <h4 class="text-center">{{clientcount}}</h4>
        <p class="text-center" style="color: #28a5df">Offices & Factories</p>
      </div>
      <!--card-->
      <div class="cards">
        <div class="text-center" style="color: #c81010;font-size: 50px"><i class="far fa-hand-peace"></i></div>
        <h4 class="text-center">{{customerfeedback + "%"}}</h4>
        <p class="text-center" style="color: #c81010">Flats & Houses</p>
      </div>
      <!--card-->
    </div>
  </div>
</div>
<app-footer-sec></app-footer-sec>

