<div class="container-fluid mx-auto" style="background-color: coral">
  <div class="shadow p-3 mb-5rounded">
    <div class="text-center">
      <h2 class="text-dark pt-3">Recently Completed Vaastu Workshops</h2>
    </div>
    <div class="row pt-2">
      <div class="col-md-4 col-sm-4">
        <h3 class="text-white">Vaastu Seminar</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="360" height="220" src="http://www.youtube.com/embed/B2xfIGZLg44" frameborder="0" allowfullscreen  title="vaastu astrology Palmistry vastu consultant delhi"></iframe>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <h3 class="text-white">Vaastu Workshop</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="360" height="220" src="http://www.youtube.com/embed/frvLy6xgN-U" frameborder="0" allowfullscreen title="vaastu astrology Palmistry vastu consultant delhi"></iframe>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <h3 class="text-white">Vaastu Workshop</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="360" height="220" src="http://www.youtube.com/embed/nqZxleENoo4" frameborder="0" allowfullscreen title="vaastu astrology Palmistry vastu consultant delhi"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

