<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a routerLink="/slideshow" class="nav-link" href="#">Slideshow</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/course-info" class="nav-link" href="#">Course Info</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/course-gallery" class="nav-link" href="#">Go to Site 2</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">About Us</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-us">About Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/awards-honours">Awards & Honours</a>
          <a class="dropdown-item" href="#" routerLink="/client-list">Client List</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-services">Services we offer</a>
          <a class="dropdown-item" href="#" routerLink="/contact-us">Contact Us</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-books">Books by Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/course-gallery">Website Disclaimer</a>
          <a class="dropdown-item" href="#">Our Social Project</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Institute</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">About IVJL</a>
          <a class="dropdown-item" href="#">Our Faculty</a>
          <a class="dropdown-item" href="#">Admission & Curriculum</a>
          <a class="dropdown-item" href="#">Special Courses</a>
          <a class="dropdown-item" href="#">Distance Learning</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Services</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/residential-vaastu">Residential Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/commercial-vaastu">Commercial Vaastu</a>
          <a class="dropdown-item" href="#">Kundali Milan & Matrimony</a>
          <a class="dropdown-item" href="#" routerLink="/palmistry-service">Palmistry Analysis</a>
          <a class="dropdown-item" href="#">Numerology & Analysis</a>
          <a class="dropdown-item" href="#">Privacy Policy</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">FAQ'S</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Vaastu Articles</a>
          <a class="dropdown-item" href="#">Astrology Articles</a>
          <a class="dropdown-item" href="#">Numerology Articles</a>
          <a class="dropdown-item" href="#">Feng Shui Articles</a>
          <a class="dropdown-item" href="#">Gem Stone Articles</a>
          <a class="dropdown-item" href="#">Pyra Vaastu Articles</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          Evaluate
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Evaluate your kua number</a></li>
          <li><a class="dropdown-item" href="#">Evaluate your Shop or Office</a></li>
          <li><a class="dropdown-item" href="#">Evaluate your existing or new plot</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Hindi Books</a></li>
          <li><a class="dropdown-item" href="#">English Books</a></li>
          <li><a class="dropdown-item" href="#">Photo Gallery</a></li>
          <li><a class="dropdown-item" href="#">Video Gallery</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Vaastu for Educational Institute</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Factories</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Hospitals</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Shops</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Banks</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Drawing Room</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Kitchen</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Master Bedroom</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Kids Bedroom</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Water Source</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Feng Shui for Health</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Wealth</a></li>
              <li><a class="dropdown-item" href="#">Fend Shui for Education</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Harmony</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Office</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Vaastu for Career</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Marriage</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Education</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Business</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Wealth</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="shadow-none p-3 mb-5 bg-light rounded mx-auto">
  <div class="row">
    <div class="col-md-auto">
      <h1 class="ms-5" style="font-size: 27px">Book A Service</h1>
    </div>
    <div class="col mb-3">
      <ol class="breadcrumb p-2 bg-light" style="background-color: white">
        <li class="breadcrumb-item ms-auto"><a href="" style="text-decoration: none;color: black">Home</a></li>
        <li class="breadcrumb-item" style="color: darkorange">Book a service</li>
      </ol>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="ms-5">
    <h5>Quick Contact</h5>
    <hr style="width: 90%">
  </div>
  <div class="row ms-5">
    <div class="col-md-8 col-sm-7">
      <h3>Just fill out this quick form</h3>
      <p style="text-align: justify">We would be delighted to serve you with our services, just use the form below or choose the services you are interested in and we will be in touch with you in few hours. We’re available from Monday to Saturday, 10:00-18:00 to take your call.</p>
      <form>
        <div class="form-row">
          <div class="col-md-5 col-sm-5">
            <label>Name (required)</label>
            <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="col-md-5 col-sm-5">
            <label>Email (required)</label>
            <input type="text" class="form-control" placeholder="Your Email">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-5 col-sm-5">
            <label>Phone (required)</label>
            <input type="text" class="form-control" placeholder="Your Phone">
          </div>
          <div class="col-md-5 col-sm-5">
            <label>Address (required)</label>
            <input type="text" class="form-control" placeholder="Your Address">
          </div>
        </div>
        <div class="form-row mt-3">
          <div class="col-md-5 col-sm-5">
            <label>Date for service (required)</label>
            <input type="text" class="form-control" placeholder="Date of Service">
          </div>
          <div class="col-md-5 col-sm-5">
            <label>Service time (required)</label>
            <input type="text" class="form-control" placeholder="Time of Service">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-10 mt-3">
            <label>Choose Services (required)</label>
            <select class="custom-select">
              <option selected>Select Service</option>
              <option value="1">Astrology / Jyotish</option>
              <option value="2">Vaastu Consultancy</option>
              <option value="3">Map Consultancy</option>
              <option value="">Vaastu Education</option>
              <option value="">Astrology Education</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-10 mt-3">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Special Instructions</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-dark">BOOK SERVICE</button>
      </form>
    </div>
    <div class="col-md-4 col-sm-5 mt-5 mx-auto">
      <h1 class="short f1 ms-4" style="font-size: 24px">How it Works</h1>
      <ul class="timeline">
        <li>
          <h5 style="color: grey">SUBMIT YOUR REQUIREMENT</h5>
          <p>Fill the form with details as indicated. Along with your issues that you want us to address.</p>
        </li>
        <li>
          <h5 style="color: grey">WE WILL PREPARE AN ESTIMATE</h5>
          <p>We shall prepare a schedule for you appointment and provide you with details required to provide the ccomplete solution.</p>
        </li>
        <li>
          <h5 style="color: grey">YOU WILL GET A CALL FROM US</h5>
          <p>We shall call back to understand your issues and fix your appointment with Pandit Gopal Sharma.</p>
        </li>
        <li>
          <h5 style="color: grey">OUR TEAM VISIT YOUR PLACE</h5>
          <p>If required we shall suggest a site visit of Pt. Gopal Sharma.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<section class="container-fluid">
  <div class="mx-auto">
    <div class="row">
      <div class="col-md-12">
        <div class="p-5 bg-white shadow rounded">
          <!-- Bootstrap carousel-->
          <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
            <!-- Bootstrap carousel indicators [nav] -->
            <ol class="carousel-indicators mb-0">
              <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>


            <!-- Bootstrap inner [slides]-->
            <div class="carousel-inner px-5 pb-4">
              <!-- Carousel slide-->
              <div class="carousel-item active">
                <div class="media"><img class="rounded-circle img-thumbnail" src="https://bootstrapious.com/i/snippets/sn-slider-quote/avatar-1.jpg" alt="" width="75">
                  <div class="media-body ml-3">
                    <blockquote class="blockquote border-0 p-0">
                      <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-success"></i>Vaastu could be so affective I only realized after changing the position of my bedroom. There were constant brawls between me and my husband since the time of marriage and one day I consulted Pandit Gopal Sharma after seeing his popularity in USA. He advised me to change the location of bedroom and I saw unimaginable change in my husband as well as in me. I am in debt to his advice to make our relationship go smooth.</p>
                      <footer class="blockquote-footer">Suman Desai
                        <cite title="Source Title">Florida</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
              </div>

              <!-- Carousel slide-->
              <div class="carousel-item">
                <div class="media"><img class="rounded-circle img-thumbnail" src="https://bootstrapious.com/i/snippets/sn-slider-quote/avatar-3.jpg" alt="" width="75">
                  <div class="media-body ml-3">
                    <blockquote class="blockquote border-0 p-0">
                      <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-success"></i>My friend indicated that my toilets & kitchen are located in negative Vastu area, that may ruin my entire health, wealth & harmony. But demolition & reconstruction was not possible in this newly built costly house. I called him, took his advise & could rectify all the Vastu defects without demolition. It was not a magic of a couple of days, but took about 6 months to bring back my good time.</p>
                      <footer class="blockquote-footer">Dheeraj Sahi
                        <cite title="Source Title">Ontario, Canada</cite>
                      </footer>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>


            <!-- Bootstrap controls [dots]-->
            <a class="carousel-control-prev width-auto" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <i class="fa fa-angle-left text-dark text-lg"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next width-auto" href="#carouselExampleIndicators" role="button" data-slide="next">
              <i class="fa fa-angle-right text-dark text-lg"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="mt-3">
            <div class="card">
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <h4 style="font-size: 80px;color: #e4a600" class="text-center">{{projectcount}}</h4>
                  <p class="text-center" style="font-size: 20px">Vaastu Corrections without demolition</p>
                </div>
                <div class="col-md-6">
                  <h4 class="text-center" style="font-size: 80px;color: #e4a600">{{clientcount}}</h4>
                  <p class="text-center" style="font-size: 20px">Happy & content Corporate Clients</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-sec></app-footer-sec>


