<div class="container-fluid mx-auto">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h1 class="short f1" style="font-size: 24px"><span class="icon" style="padding-right: 20px"><i class="fas fa-phone-alt"></i></span>CONTACT NUMBERS</h1>
      <p class="px-5">Contact for Prior Appointments</p>
      <ul class="timeline">
        <li>
          <p>International Whatsapp No: (+91)9810054314</p>
        </li>
        <li>
          <p>India Roaming No: (+91)9810504178</p>
        </li>
        <li>
          <p>Dubai Local No: 056-36-16-422</p>
        </li>
        <li>
          <p>Canada Local No: 647-786-0107</p>
        </li>
        <li>
          <p>USA Local No: +1 (925) 854-8056</p>
        </li>
        <li>
          <p>Sweden Local No: 0046739079666</p>
        </li>
        <li>
          <p>Delhi Local No: (+91)9313754200</p>
        </li>
        <div class="mx-5">
          <button class="btn btn-outline-dark">CONTACT DETAILS</button>
        </div>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4">
      <h1 class="short f1" style="font-size: 24px"><span class="icon" style="padding-right: 20px"><i class="fas fa-globe-europe"></i></span>ITINERARY</h1>
      <p class="px-5">Contact for Prior Appointments</p>
      <ul class="timeline">
        <li>
          <p>Banglore, Karnataka : 1st June to 5th August 2021</p>
        </li>
        <li>
          <p>Bombay, Maharastra : 16th Mar to 17th Mar 2021</p>
        </li>
        <li>
          <p>Bangalore, Karnataka : 25th Jan to 30th Jan 2020</p>
        </li>
        <li>
          <p>Pune, Maharastra : 23rd Jan to 24th Jan 2020</p>
        </li>
        <li>
          <p>Bangalore, Karnataka : 17th Jan to 22nd Jan 2020</p>
        </li>
        <li>
          <p>Mysore, Karnataka : 11th Jan to 13th Jan 2020</p>
        </li>
        <li>
          <p>Hyderabad, Telangana : 20th Dec to 21th Dec 2019</p>
        </li>
        <div class="mx-5">
          <button class="btn btn-outline-dark">BOOK A SERVICE NOW</button>
        </div>
      </ul>
    </div>
    <div class="col-md4 col-sm-4">
      <ul class="timeline">
        <li>
          <h3 class="short f1" style="font-size: 20px"><span class="icon" style="padding-right: 20px"><i class="fas fa-credit-card"></i></span>SEND ONLINE PAYMENT</h3>
          <p class="px-5"><strong>Payments for Services Availed</strong></p>
          <img src="assets/images/contact-sec/1.jpg" class="mx-auto" alt="">
        </li>
        <div class="mx-5">
          <button class="btn btn-outline-dark">READ MORE</button>
        </div>
        <li>
          <h3 class="short f1" style="font-size: 20px"><span class="icon" style="padding-right: 20px"><i class="far fa-newspaper"></i></span>HOROSCOPE ANALYSIS</h3>
          <p class="px-5"><strong>You Personalized Kundali</strong></p>
          <img src="assets/images/contact-sec/2.jpg" class="mx-auto" alt="">
        </li>
        <div class="mx-5">
          <button class="btn btn-outline-dark">READ MORE</button>
        </div>
      </ul>
    </div>
  </div>
</div>
