  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" routerLink="/navbar">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">About Us</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">About Pt. Gopal Sharma</a>
            <a class="dropdown-item" href="#">Awards & Honours</a>
            <a class="dropdown-item" href="#">Client List</a>
            <a class="dropdown-item" href="#">Services we offer</a>
            <a class="dropdown-item" href="#">Contact Us</a>
            <a class="dropdown-item" href="#">Books by Pt. Gopal Sharma</a>
            <a class="dropdown-item" href="#" (click)="openLink()">Website Disclaimer</a>
            <a class="dropdown-item" href="#">Our Social Project</a>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Institute</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">About IVJL</a>
            <a class="dropdown-item" href="#">Our Faculty</a>
            <a class="dropdown-item" href="#">Admission & Curriculum</a>
            <a class="dropdown-item" href="#">Special Courses</a>
            <a class="dropdown-item" href="#">Distance Learning</a>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Services</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Residential Vaastu</a>
            <a class="dropdown-item" href="#">Commercial Vaastu</a>
            <a class="dropdown-item" href="#">Kundali Milan & Matrimony</a>
            <a class="dropdown-item" href="#">Palmistry Analysis</a>
            <a class="dropdown-item" href="#">Numerology & Analysis</a>
            <a class="dropdown-item" href="#">Privacy Policy</a>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">FAQ'S</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Vaastu Articles</a>
            <a class="dropdown-item" href="#">Astrology Articles</a>
            <a class="dropdown-item" href="#">Numerology Articles</a>
            <a class="dropdown-item" href="#">Feng Shui Articles</a>
            <a class="dropdown-item" href="#">Gem Stone Articles</a>
            <a class="dropdown-item" href="#">Pyra Vaastu Articles</a>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Evaluate
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Evaluate your kua number</a></li>
            <li><a class="dropdown-item" href="#">Evaluate your Shop or Office</a></li>
            <li><a class="dropdown-item" href="#">Evaluate your existing or new plot</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Hindi Books</a></li>
            <li><a class="dropdown-item" href="#">English Books</a></li>
            <li><a class="dropdown-item" href="#">Photo Gallery</a></li>
            <li><a class="dropdown-item" href="#">Video Gallery</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Vaastu for Educational Institute</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Factories</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Hospitals</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Shops</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Banks</a></li>
              </ul>
            </li>

            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Drawing Room</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Kitchen</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Master Bedroom</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Kids Bedroom</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Water Source</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Feng Shui for Health</a></li>
                <li><a class="dropdown-item" href="#">Feng Shui for Wealth</a></li>
                <li><a class="dropdown-item" href="#">Fend Shui for Education</a></li>
                <li><a class="dropdown-item" href="#">Feng Shui for Harmony</a></li>
                <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>
                <li><a class="dropdown-item" href="#">Feng Shui for Office</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Vaastu for Career</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Marriage</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Education</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Business</a></li>
                <li><a class="dropdown-item" href="#">Vaastu for Wealth</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<router-outlet></router-outlet>
