<div class="container-fluid bg-dark mx-auto">
  <div class="row">
    <div class="col-md-3 col-sm-6" style="margin-top: 10%">
      <img src="assets/images/footer-sec/logo.png" class="img1 text-center" alt="">
      <p class="text-white text-center">Institute has made a very humble beginning in this millennium to spread knowledge to people about the ancient Vaastu Shastra, Astrology, Palmistry , Feng-Shui, Reiki and Pyramid powers. We have dedicated and professional faculty at IVJL.</p>
      <ul class="social-icons-rounded social-icons-colored pull-center text-center" id="horizontal-list">
        <li class="facebook" style="padding-right: 10px"><a href="https://www.facebook.com/Institute-of-Vaastu-Joyful-Living-450373621735117/"><i class="fab fa-facebook"></i></a></li>
        <li class="twitter" style="padding-right: 10px"><a href="http://twitter.com/ptgopalsharma"><i class="fab fa-twitter" style="color: deepskyblue"></i></a></li>
        <li class="youtube" style="padding-right: 10px"><a href="https://youtube.com/channel/UCy92VpazUMT_iEGCMhZZuwA"><i class="fab fa-youtube" style="color: firebrick"></i></a></li>
        <li class="whatsapp" style="padding-right: 10px"><a href="https://api.whatsapp.com/send?phone=+919313754200"><i class="fab fa-whatsapp" style="color: green"></i></a></li>
        <li class="instagram"><a href="https://www.instagram.com/ivjl292/"><i class="fab fa-instagram" style="color: white"></i></a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 mt-5">
      <h5 class="text-white" style="margin-left: 10px"><i class="fas fa-info-circle" style="margin-right: 10px;color: coral"></i>ABOUT US</h5>
      <ul>
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/about-us"><i class="arrow right" style="color:white;margin-right: 10px"></i>About Pt. Gopal Sharma</a></li>
        <hr style="width:70%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/vaastu-services"><i class="arrow right" style="color:white;margin-right: 10px"></i>Services We Offer</a></li>
        <hr style="width:70%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/contact-us"><i class="arrow right" style="color:white;margin-right: 10px"></i>Contact Us</a></li>
        <hr style="width:70%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/vaastu-books"><i class="arrow right" style="color:white;margin-right: 10px"></i>Books by Pt. Gopal Sharma</a></li>
        <hr style="width:70%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/website-disclaimer"><i class="arrow right" style="color:white;margin-right: 10px"></i>Website Disclaimer</a></li>
        <hr style="width:70%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none"><i class="arrow right" style="color:white;margin-right: 10px"></i>Our Social Project</a></li>
        <hr style="width:70%;color: white">
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 mt-5">
      <h5 class="text-white" style="margin-left: 10px"><i class="fas fa-bars" style="margin-right: 10px;color: coral"></i>About Institute</h5>
      <ul>
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/about-institute-ivjl"><i class="arrow right" style="color:white;margin-right: 10px"></i>About IVJL</a></li>
        <hr style="width:65%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none"><i class="arrow right" style="color:white;margin-right: 10px"></i>Courses offered</a></li>
        <hr style="width:65%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/our-faculty"><i class="arrow right" style="color:white;margin-right: 10px"></i>Our Faculty</a></li>
        <hr style="width:65%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/admission-curriculum"><i class="arrow right" style="color:white;margin-right: 10px"></i>Admission & Curriculum</a></li>
        <hr style="width:65%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/special-courses"><i class="arrow right" style="color:white;margin-right: 10px"></i>Special Courses</a></li>
        <hr style="width:65%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/distance-learning"><i class="arrow right" style="color:white;margin-right: 10px"></i>Distance Learning</a></li>
        <hr style="width:65%;color: white">
      </ul>
    </div>
    <div class="col-md-3 col-sm-6 mt-5">
      <h5 class="text-white" style="margin-left: 10px"><i class="far fa-comment" style="margin-right: 10px;color: coral"></i>Our Services</h5>
      <ul>
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/residential-vaastu"><i class="arrow right" style="color:white;margin-right: 10px"></i>Residential Vaastu</a></li>
        <hr style="width:68%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/commercial-vaastu"><i class="arrow right" style="color:white;margin-right: 10px"></i>Commercial Vaastu</a></li>
        <hr style="width:68%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/kundali-matrimony"><i class="arrow right" style="color:white;margin-right: 10px"></i>Kundali Milan & Matrimony</a></li>
        <hr style="width:68%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/palmistry-service"><i class="arrow right" style="color:white;margin-right: 10px"></i>Palmistry Analysis</a></li>
        <hr style="width:68%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/numerology-service"><i class="arrow right" style="color:white;margin-right: 10px"></i>Numerology & Analysis</a></li>
        <hr style="width:68%;color: white">
        <li><a href="#" class="text-white" style="text-decoration: none" routerLink="/privacy-policy"><i class="arrow right" style="color:white;margin-right: 10px"></i>Privacy Policy</a></li>
        <hr style="width:68%;color: white">
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-md-6 col-sm-6 mt-3">
      <div class="copyrights-col-left">
        <p>Copyright @2018 IVJL the World of Vaastu, Astrology & Feng-Shui. All rights reserved</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 mt-3">
      <div class="copyrights-col-right" style="text-align: right;margin-right: 10%"><p>Website Maintenance and SEO Services by <a href="http://einfoworx.com"style="text-decoration: none;color: deepskyblue">Elite InfoWorX</a> </p></div>
    </div>
  </div>
</div>

