<!--<div class="container-fluid" style="background-color: #A70A0A;">-->
<!--    <ul>-->
<!--      <a href=""><i class="fab fa-facebook-square" style="color: #154360;font-size: 30px"></i></a>-->
<!--      <a href=""><i class="fab fa-twitter-square" style="color: #1976D2;font-size: 30px"></i></a>-->
<!--      <a href=""><i class="fas fa-phone-square-alt" style="color: darkblue;font-size: 30px"></i></a>-->
<!--      <a href=""><i class="fas fa-envelope-square" style="color: white;font-size: 30px"></i></a>-->
<!--      <a href="" style="margin-left: 20%"><h2 style="color:#FFFFFF; font-size:17px;">Welcome to World of Vaastu, Astrology & Feng-shui : Source to Health, Wealth and Prosperity</h2></a>-->
<!--    </ul>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <nav>-->
<!--    <ul class="navigation">-->
<!--      <li><a href="#">Home</a></li>-->
<!--      <li><a href="#">Contact</a></li>-->
<!--      <li><a href="#">About</a></li>-->
<!--      <li><a href="#">Service</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</div>-->
<div class="container-fluid" style="background-color: #A70A0A;">
  <div class="row">
    <div class="col-md-4 mt-2">
      <a href=""><i class="fab fa-facebook-square symbol" style="color: #154360;font-size: 30px"></i></a>
      <a href="" style="" class="ms-4"><i class="fab fa-twitter-square symbol" style="color: #1976D2;font-size: 30px"></i></a>
      <a href="" class="ms-4"><i class="fas fa-phone-square-alt symbol" style="color: darkblue;font-size: 30px"></i></a>
      <a href="" class="ms-4"><i class="fas fa-envelope-square symbol" style="color: white;font-size: 30px"></i></a>
    </div>
    <div class="col-md-8 mt-2">
      <a href="" style="text-decoration: none;text-align: right"><h2 style="color:#FFFFFF; font-size:17px;">Welcome to World of Vaastu, Astrology & Feng-shui : Source to Health, Wealth and Prosperity</h2></a>
    </div>

  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../../assets/images/website-disclaimer/1.png" alt="">
    </div>
    <div class="col-md-6">
      <div style="text-align: right" class="mt-3">
        <h4><strong>Request an Appointment</strong></h4>
        <ul style="list-style: none">
          <li><i class="fas fa-envelope"></i><span class="ms-2">ptgopal@yahoo.com</span></li>
          <li><i class="fas fa-tty"></i><span class="ms-2">+91-11-27030966/67</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5b6b3;width: 80%;margin-left: 10%">
        <a class="navbar-brand" href="#">Vaastu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray"><span class="font">Home</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/about-us"><span class="font">About Us</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/consultation-services"><span class="font">Consultation</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/articles"><span class="font">Articles</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/education"><span class="font">Education</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/online-services"><span class="font">Online Services</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/photo-gallery"><span class="font">Photos/ Video</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/blog"><span class="font">Blog</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1 style="font-style: italic;color: #BD1456">Consult Today for Peaceful Tomorrow!</h1>
        <h4 style="font-style: italic;color: dimgray">Enjoy health & happiness, progress & prosperity.</h4>
      </div>
    </div>
  </div>
  <div class="border" style="background-color: #AD8B65"></div>
  <div class="container ms-5">
    <div class="row">
      <div class="col-md-6">
        <h2 style="color: #AF5A49">Consulation</h2>
        <p style="text-align: justify">Vaastu, Astrology, Numerology, Feng-Shui, Pyra-Vaastu, Map Analysis, Horoscope Analysis, Residential and commercial vaastu correction without demolition.</p>
        <div style="text-align: right">
          <strong><a href="" style="text-align: right;text-decoration: none;color: #D7743B">read more...</a></strong>
        </div>
      </div>
      <div class="col-md-4">
        <h2 style="color: #AF5A49">Pt. Gopal Sharma</h2>
        <p style="text-align: justify">Born in a renowned family of vedic scholars & spiritual healers, Pt.Gopal Sharma, an engineering graduate of 1973 from Delhi College of Engineering is a luminary in many fields.</p>

        <div style="text-align: right">
          <strong><a href="" style="text-align: right;text-decoration: none;color: #D7743B">read more...</a></strong>
        </div>
      </div>
      <div class="col-md-2">
        <img src="../../../../assets/images/website-disclaimer/2.png" alt="" style="margin-top: -5%">
      </div>
    </div>
  </div>
  <div class="border" style="background-color: #AD8B65"></div>
</div>
<br>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/1.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
          <h4>Friday January 15 2020</h4>
        <p>Scientists long ago have proven that everything in existance is made up of energy called
          Chi. Fengshui can help transform the negative energy within a living space into the positive energy.</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/2.jpg" alt="" class="img-responsive float-left mr-3 rounded mt-4" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Wednesday December 2 2020</h4>
        <h2 style="color: #A70A0A">FENG SHUI TIPS FOR LOVE & ROMANCE</h2>
        <p>“If your love life needs a quick boost, you can use the art of placement to produce the romantic results you desire”.</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/3.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Friday October 16 2020</h4>
        <h2 style="color: #A70A0A">FENG SHUI TIPS FOR WINTER</h2>
        <p>Each season is associated with one of five basic Feng Shui elements: Earth, Metal, Water, Wood and Fire. Winter belongs to the Water element, both being quite and restorative.</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/4.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Monday September 21 2020</h4>
        <h2 style="color: #A70A0A">FENG SHUI TOOLS</h2>
        <p>The universal prosperity corner is the southeast of any room, office, or retail establishment and energizing this sector of the room attracts good fortune chi for the business or residence.</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/5.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Friday September 18 2020</h4>
        <h2 style="color: #A70A0A">CRYSTAL THERAPY</h2>
        <p>Crystals are used to increase wealth, longevity, relationships, and for power & popularity. They have curative powers as well as the power to pour in fortune & drive away evil energy.</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/6.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Tuesday September 15 2020</h4>
        <h2 style="color: #A70A0A">VAASTU TIPS</h2>
        <p>Vaastu science is complete in itself. Happiness to the whole world it can bring All the four benefits it bestows on you Rightful living, money, fulfillment of desires and bliss Are all available in this world itself</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/7.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Saturday September 12 2020</h4>
        <h2 style="color: #A70A0A">PEACE OF MIND</h2>
        <p>Vaastu/ Feng-Shui is the art of living in harmony with Nature, whereas peace of mind is a state of mental and emotional calmness, with no worries, fear or stress.</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/8.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Saturday September 10 2020</h4>
        <h2 style="color: #A70A0A">POWER OF COLOR IN VAASTU</h2>
        <p>Sound, heat, light and magnetism are all part of the energy of the sun. Sunlight is apparently pure and white light, though it is actually a combination of the seven colors of the rainbow: violet, indigo, blue, green, yellow, orange and red. This is referred to as “VIBGYOR.”</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/9.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Saturday September 05 2020</h4>
        <h2 style="color: #A70A0A">CAREER SUCCESS</h2>
        <p>In this article we will try to show you the Path of Success and Growth in Career through Vaastu & Feng Shui; which are study of constructing / arranging the environment to make life progressive, happy and more comfortable.</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/10.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Wednesday August 26 2020</h4>
        <h2 style="color: #A70A0A">FENGSHUI FOR HEALTH</h2>
        <p>When it comes to health, there are so many things that can influence the way we feel. All the money and diamonds in the world cannot buy good health.</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/11.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Tuesday August 25 2020</h4>
        <h2 style="color: #A70A0A">GEMSTONES</h2>
        <p>Ratnadhayaya will bring Positive energy in your house, but at a little higher cost. Vaastu have its own specialty and doesn’t requires anything to make it powerful or effective</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>

  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-12 col-lg-2 col-md-12 col-sm-auto">
        <img src="./assets/images/blog/12.jpg" alt="" class="img-responsive float-left mr-3 rounded" style="width: 100%">
      </div>
      <div class="col-lg-10 col-md-10 col-10 col-sm-10">
        <p>
        <h4>Wednesday August 19 2020</h4>
        <h2 style="color: #A70A0A">VAASTU AND GARDEN</h2>
        <p>In today's stressful society we are looking at the ways to improve the quality of our lives. Stepping into the garden is a wonderful way to relax and restore inner peace.</p>
        <button class="btn btn-outline-dark" style="margin-left: 85%">Read More...</button>
      </div>
    </div>
  </div>
  </div>


<div class="container">
  <div style="text-align: right">
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/products">Products</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-services">Services</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/education">Education</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/online-services">Online Services</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/photo-gallery">Photo Gallery</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-books">Books</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px">Videos</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/blog">Blog</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/contact-us">Contact Us</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/website-disclaimer">Disclaimer</a>
  </div>
  <div class="border" style="background-color: #AD8B65"></div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Evaluate your Business</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/educational-vaastu"><span class="font"> Educational Institute Vaastu</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/factories-vaastu"><span class="font"> Vaastu of Factories</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/hospitals-vaastu"><span class="font"> Vaastu of Hospitals</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/shops-vaastu"><span class="font"> Vaastu of Shops</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/banks-vaastu"><span class="font"> Vaastu of Banks</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Evaluate your Residence</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/drawingroom-vaastu"><span class="font"> Vaastu of Drawing Room</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/kitchens-vaastu"><span class="font"> Vaastu of Kitchen</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/masterbedroom-vaastu"><span class="font"> Vaastu of Master Bedroom</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/kidsbedroom-vaastu"><span class="font"> Vaastu of Kids Bedroom</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/watersource-vaastu"><span class="font"> Vaastu of Water Source</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Feng Shui and You</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-health"><span class="font"> Feng Shui for Health</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-wealth"><span class="font"> Feng Shui for Wealth</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-education"><span class="font"> Fend Shui for Education</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-harmony"><span class="font"> Feng Shui for Harmony</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-office"><span class="font"> Feng Shui for Office</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Daily Life Vaastu</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-career"><span class="font"> Vaastu for Career</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/marriage-vaastu"><span class="font"> Vaastu for Marriage</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/education-vaastu"><span class="font"> Vaastu for Education</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/business-vaastu"><span class="font"> Vaastu for Business</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/wealth-vaastu"><span class="font"> Vaastu for Wealth</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="border" style="background-color:#A70A0A"></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">About Us</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-us"><span class="font"> About Pt. Gopal Sharma</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-services"><span class="font"> Services we offer</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/contact-us"><span class="font"> Contact Us</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-books"><span class="font"> Books by Pt. Gopal Sharma</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/website-disclaimer"><span class="font"> Website Disclaimer</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px"><span class="font"> Our Social Project</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">About Institute</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-institute-ivjl"><span class="font"> About IVJL</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/our-faculty"><span class="font"> Courses offered</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/our-faculty"><span class="font"> Our Faculty</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/admission-curriculum"><span class="font"> Admission & Curriculum</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/special-courses"><span class="font"> Special Courses</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/distance-learning"><span class="font"> Distance Learning</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Our Services</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/residential-vaastu"><span class="font"> Residential Vaastu</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/commercial-vaastu"><span class="font"> Commercial Vaastu</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/kundali-matrimony"><span class="font"> Kundali Milan & Matrimony</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/palmistry-service"><span class="font"> Palmistry Analysis</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/numerology-service"><span class="font"> Numerology & Analysis</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Other Resource</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/hindi-books"><span class="font"> Hindi Books</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/english-books"><span class="font"> English Books</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/photo-gallery"><span class="font"> Photo Gallery</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px"><span class="font"> Video Gallery</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px"><span class="font"> Our Social Project</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #A70A0A">
  <br>
  <h2 class="text-center" style="font-style: italic;color: white;font-size: 20px">Vaastu Shastra, Astrology, Palmistry are Ancient Indian Science for happy living. <br/>It is advisable to consult a professional before taking any vital decision.</h2>
  <br>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h6 style="font-size: 10px">Copyright @2010 IVJL the World of Vaastu, Astrology & Feng-Shui. All rights reserved<br/>
        Website Design, Development, Maintenance and SEO Services by <span><a href="" style="text-decoration: none;" class="font">Elite InfoWorX</a></span></h6>
    </div>
    <div class="col-md-6">
      <div style="text-align: right">
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-articles">Vaastu</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/astrology-articles">Astrology</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-articles">Feng Shui</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/numerology-articles">Numerology</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/gemstone-articles">Gem Stones</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/pyravaastu-articles">Pyramidology</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-us">About Us</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/contact-us">Contact Us</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-services">Services</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/products">Products</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-books">Books</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-institute-ivjl">Courses</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/website-disclaimer">Disclaimer</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #A70A0A">
  <br>
  <h2 style="font-style: italic;color: #FFFFFF;font-size: 14px" class="text-center">Vaastu Consultancy | Astrology Consultancy | Feng Shui Consultant | Vaastu Tips | Vaastu Courses | Astrology Courses | Industrial Vaastu | Residential Vaastu</h2>
  <br>
</div>

















