<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <a class="navbar-brand" href="#">Navbar</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a routerLink="/course-gallery" class="nav-link" href="#">Course Gallery</a>-->
<!--      </li>-->
<!--      <li class="nav-item active">-->
<!--        <a routerLink="/slideshow" class="nav-link" href="#">Go to Site 1</a>-->
<!--      </li>-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home</a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>-->
<!--        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <li><a class="dropdown-item" href="#">Hindi Books</a></li>-->
<!--          <li><a class="dropdown-item" href="#">English Books</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Photo Gallery</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Video Gallery</a></li>-->
<!--          <li class="dropdown-submenu">-->
<!--            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Educational Institute</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Factories</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Hospitals</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Shops</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Banks</a></li>-->
<!--            </ul>-->
<!--          </li>-->

<!--          <li class="dropdown-submenu">-->
<!--            <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a class="dropdown-item" href="#"></a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Drawing Room</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Kitchen</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Master Bedroom</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Kids Bedroom</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Water Source</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="dropdown-submenu">-->
<!--            <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a class="dropdown-item" href="#">Feng Shui for Health</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Feng Shui for Wealth</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Fend Shui for Education</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Feng Shui for Harmony</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Feng Shui for Office</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="dropdown-submenu">-->
<!--            <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Career</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Marriage</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Education</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Business</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Vaastu for Wealth</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Blog</a>-->
<!--      </li>-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Contact</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">About Us</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-us">About Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/awards-honours">Awards & Honours</a>
          <a class="dropdown-item" href="#" routerLink="/client-list">Client List</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-services">Services we offer</a>
          <a class="dropdown-item" href="#" routerLink="/contact-us">Contact Us</a>
          <a class="dropdown-item" href="#" routerLink="/vaastu-books">Books by Pt. Gopal Sharma</a>
          <a class="dropdown-item" href="#" routerLink="/course-gallery">Website Disclaimer</a>
          <a class="dropdown-item" href="#">Our Social Project</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Institute</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/about-institute-ivjl">About IVJL</a>
          <a class="dropdown-item" href="#" routerLink="/our-faculty">Our Faculty</a>
          <a class="dropdown-item" href="#" routerLink="/admission-curriculum">Admission & Curriculum</a>
          <a class="dropdown-item" href="#" routerLink="/special-courses">Special Courses</a>
          <a class="dropdown-item" href="#" routerLink="/distance-learning">Distance Learning</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Services</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/residential-vaastu">Residential Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/commercial-vaastu">Commercial Vaastu</a>
          <a class="dropdown-item" href="#" routerLink="/kundali-matrimony">Kundali Milan & Matrimony</a>
          <a class="dropdown-item" href="#" routerLink="/palmistry-service">Palmistry Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-service">Numerology & Analysis</a>
          <a class="dropdown-item" href="#" routerLink="/privacy-policy">Privacy Policy</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">FAQ'S</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="/vaastu-articles">Vaastu Articles</a>
          <a class="dropdown-item" href="#" routerLink="/astrology-articles">Astrology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/numerology-articles">Numerology Articles</a>
          <a class="dropdown-item" href="#" routerLink="/fengshui-articles">Feng Shui Articles</a>
          <a class="dropdown-item" href="#" routerLink="/gemstone-articles">Gem Stone Articles</a>
          <a class="dropdown-item" href="#" routerLink="/pyravaastu-articles">Pyra Vaastu Articles</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          Evaluate
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/kua-number">Evaluate your kua number</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/shopoffice-number">Evaluate your Shop or Office</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/hindi-books">Hindi Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/english-books">English Books</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/photo-gallery">Photo Gallery</a></li>
          <li><a class="dropdown-item" href="#">Video Gallery</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/educational-vaastu">Vaastu for Educational Institute</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/factories-vaastu">Vaastu for Factories</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/hospitals-vaastu">Vaastu for Hospitals</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/shops-vaastu">Vaastu for Shops</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/banks-vaastu">Vaastu for Banks</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/drawingroom-vaastu">Vaastu for Drawing Room</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kitchens-vaastu">Vaastu for Kitchen</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/masterbedroom-vaastu">Vaastu for Master Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/kidsbedroom-vaastu">Vaastu for Kids Bedroom</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/watersource-vaastu">Vaastu for Water Source</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-health">Feng Shui for Health</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-wealth">Feng Shui for Wealth</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-education">Fend Shui for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-harmony">Feng Shui for Harmony</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/fengshui-office">Feng Shui for Office</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/vaastu-career">Vaastu for Career</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/marriage-vaastu">Vaastu for Marriage</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/education-vaastu">Vaastu for Education</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/business-vaastu">Vaastu for Business</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/wealth-vaastu">Vaastu for Wealth</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/contact-us">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<app-about-us></app-about-us>
<app-footer-sec></app-footer-sec>


