<nav class="navbar navbar-expand-lg navbar-dark bg-dark" routerLink="/navbar">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Resources</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Hindi Books</a></li>
          <li><a class="dropdown-item" href="#">English Books</a></li>
          <li><a class="dropdown-item" href="#">Photo Gallery</a></li>
          <li><a class="dropdown-item" href="#">Video Gallery</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaastu for Business</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Vaastu for Educational Institute</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Factories</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Hospitals</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Shops</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Banks</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Vaastu for Residence</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Drawing Room</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Kitchen</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Master Bedroom</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Kids Bedroom</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Water Source</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Feng Shui & You</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Feng Shui for Health</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Wealth</a></li>
              <li><a class="dropdown-item" href="#">Fend Shui for Education</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Harmony</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Family</a></li>
              <li><a class="dropdown-item" href="#">Feng Shui for Office</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Daily Life Vaastu</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Vaastu for Career</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Marriage</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Education</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Business</a></li>
              <li><a class="dropdown-item" href="#">Vaastu for Wealth</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
