<div class="container-fluid" style="background-color: #A70A0A;">
  <div class="row">
    <div class="col-md-4 mt-2">
      <a href=""><i class="fab fa-facebook-square symbol" style="color: #154360;font-size: 30px"></i></a>
      <a href="" style="" class="ms-4"><i class="fab fa-twitter-square symbol" style="color: #1976D2;font-size: 30px"></i></a>
      <a href="" class="ms-4"><i class="fas fa-phone-square-alt symbol" style="color: darkblue;font-size: 30px"></i></a>
      <a href="" class="ms-4"><i class="fas fa-envelope-square symbol" style="color: white;font-size: 30px"></i></a>
    </div>
    <div class="col-md-8 mt-2">
      <a href="" style="text-decoration: none;text-align: right"><h2 style="color:#FFFFFF; font-size:17px;">Welcome to World of Vaastu, Astrology & Feng-shui : Source to Health, Wealth and Prosperity</h2></a>
    </div>

  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../../assets/images/website-disclaimer/1.png" alt="">
    </div>
    <div class="col-md-6">
      <div style="text-align: right" class="mt-3">
        <h4><strong>Request an Appointment</strong></h4>
        <ul style="list-style: none">
          <li><i class="fas fa-envelope"></i><span class="ms-2">ptgopal@yahoo.com</span></li>
          <li><i class="fas fa-tty"></i><span class="ms-2">+91-11-27030966/67</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f5b6b3;width: 80%;margin-left: 10%">
        <a class="navbar-brand" href="#">Vaastu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray"><span class="font">Home</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/about-us"><span class="font">About Us</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/consultation-services"><span class="font">Consultation</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/articles"><span class="font">Articles</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/education"><span class="font">Education</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/online-services"><span class="font">Online Services</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/photo-gallery"><span class="font">Photos/ Video</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: dimgray" routerLink="/blog"><span class="font">Blog</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1 style="font-style: italic;color: #BD1456">Consult Today for Peaceful Tomorrow!</h1>
        <h4 style="font-style: italic;color: dimgray">Enjoy health & happiness, progress & prosperity.</h4>
      </div>
    </div>
  </div>
  <div class="border" style="background-color: #AD8B65"></div>
  <div class="container ms-5">
    <div class="row">
      <div class="col-md-6">
        <h2 style="color: #AF5A49">Consulation</h2>
        <p style="text-align: justify">Vaastu, Astrology, Numerology, Feng-Shui, Pyra-Vaastu, Map Analysis, Horoscope Analysis, Residential and commercial vaastu correction without demolition.</p>
        <div style="text-align: right">
          <strong><a href="" style="text-align: right;text-decoration: none;color: #D7743B">read more...</a></strong>
        </div>
      </div>
      <div class="col-md-4">
        <h2 style="color: #AF5A49">Pt. Gopal Sharma</h2>
        <p style="text-align: justify">Born in a renowned family of vedic scholars & spiritual healers, Pt.Gopal Sharma, an engineering graduate of 1973 from Delhi College of Engineering is a luminary in many fields.</p>

        <div style="text-align: right">
          <strong><a href="" style="text-align: right;text-decoration: none;color: #D7743B">read more...</a></strong>
        </div>
      </div>
      <div class="col-md-2">
        <img src="../../../../assets/images/website-disclaimer/2.png" alt="" style="margin-top: -5%">
      </div>
    </div>
  </div>
  <div class="border" style="background-color: #AD8B65"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Pay Online</h5>
          <a class="card__link" href="">Make your payments for services<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Horoscope Analysis</h5>
          <a class="card__link" href="" routerLink="/kundali-matrimony">You personalize kundali / horoscope<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Map Analysis</h5>
          <a class="card__link" href="">Residential / Commercial<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Vaastu Courses</h5>
          <a class="card__link" href="" routerLink="/our-faculty">Basic vaastu to advance vaastu<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Astrology Courses</h5>
          <a class="card__link" href="" routerLink="/distance-learning">Basic vaastu to advance vaastu<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Pyra Vaastu</h5>
          <a class="card__link" href="" routerLink="/pyravaastu-articles">Vaastu correction without demolition<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Gems Therapy</h5>
          <a class="card__link" href="" routerLink="/gemstone-articles">Gems for kundali dosh nivaran<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
      <div class="card text-white" style="max-width: 23rem;">
        <div class="card-body">
          <h5 class="card-title">Dosh Nivaran Yantra</h5>
          <a class="card__link" href="" routerLink="/products">Vaastu, Astrology, Feng Shui Products<i class="fas fa-arrow-right ms-2"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="p-4">
        <h6><strong>Vaastu for Shops</strong></h6>
        <div class="border" style="background-color: #581845"></div>
        <p style="font-size: 12px"><strong>Basic Vaastu Guide to Commercial Properties</strong></p>
        <p class="mt-2" style="font-size: 12px;text-align: justify">To open the gateway of monetary benefits and ensure smooth running of the operations of shops, many people resort to the very ancient, yet popular vastu shastra. Not just because of the fact that it is a very old science, but also because of positive results given by it. The ancient science is not only confined to India - its native. More and more westerners are nowadays designing and constructing their shops as per the guidance provided by vaastu. Vaasthu advice for shops and showrooms is based on the deep study of various determinants, which include the location of the shop, shop/showroom exteriors including its slope and shape of the plot, placement of cash counter, seating position of the owner and the employees, placement of goods, direction for the entrance, exit etc. In this article, we have provided some useful vaastu tips for shops.</p>
        <ul>
          <li style="font-size: 12px;text-align: justify">The seating arrangement of the owner should be done in such a manner, that he/she faces east or north direction, while carrying out his/her activities.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">South and west directions are not recommended, as they are considered the source of trouble and loss to the business.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">Square or rectangular shape shop is auspicious.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">Irregularly shaped showrooms are likely to cause loss to business.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">While constructing the shop/showroom, make sure that there is no slope towards the main entrance, as it obstructs the path of profits.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">Avoid placing the idols of Lord Ganesha and Goddess Lakshmi on the right or northeastern corners of the shop.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">For installing the cash counter, choose a place facing north side. In case if the box is very heavy, such as a hefty almirah or safe, it is suggested to go for the southwest corner of the shop. Make sure that the door of the almirah/safe opens towards the north.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">You can keep the heavy items in the south west side of the shop.<</li>
          <br>
          <li style="font-size: 12px;text-align: justify">In case you have planned to install television or computer in your shop, then assign the southeast corner of the shop.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">In order to retain the positive energy within your shop, make sure that all the doors open inside. Make sure that the hinges of the door are not noisy. If so, grease them periodically.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">It is recommended that the doors of your shop should open towards the right side.</li>
          <br>
          <li style="font-size: 12px;text-align: justify">Adorn your shop's premises by growing small decorative plants and shrubs in the north and east.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div style="text-align: right">
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/products">Products</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-services">Services</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/education">Education</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/online-services">Online Services</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/photo-gallery">Photo Gallery</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-books">Books</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px">Videos</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/blog">Blog</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/contact-us">Contact Us</a> |
    <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/website-disclaimer">Disclaimer</a>
  </div>
  <div class="border" style="background-color: #AD8B65"></div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Evaluate your Business</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/educational-vaastu"><span class="font"> Educational Institute Vaastu</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/factories-vaastu"><span class="font"> Vaastu of Factories</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/hospitals-vaastu"><span class="font"> Vaastu of Hospitals</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/shops-vaastu"><span class="font"> Vaastu of Shops</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/banks-vaastu"><span class="font"> Vaastu of Banks</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Evaluate your Residence</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/drawingroom-vaastu"><span class="font"> Vaastu of Drawing Room</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/kitchens-vaastu"><span class="font"> Vaastu of Kitchen</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/masterbedroom-vaastu"><span class="font"> Vaastu of Master Bedroom</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/kidsbedroom-vaastu"><span class="font"> Vaastu of Kids Bedroom</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/watersource-vaastu"><span class="font"> Vaastu of Water Source</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Feng Shui and You</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-health"><span class="font"> Feng Shui for Health</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-wealth"><span class="font"> Feng Shui for Wealth</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-education"><span class="font"> Fend Shui for Education</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-harmony"><span class="font"> Feng Shui for Harmony</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-office"><span class="font"> Feng Shui for Office</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Daily Life Vaastu</h6>
      <ul>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-career"><span class="font"> Vaastu for Career</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/marriage-vaastu"><span class="font"> Vaastu for Marriage</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/education-vaastu"><span class="font"> Vaastu for Education</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/business-vaastu"><span class="font"> Vaastu for Business</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/wealth-vaastu"><span class="font"> Vaastu for Wealth</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="border" style="background-color:#A70A0A"></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">About Us</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-us"><span class="font"> About Pt. Gopal Sharma</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-services"><span class="font"> Services we offer</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/contact-us"><span class="font"> Contact Us</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-books"><span class="font"> Books by Pt. Gopal Sharma</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/website-disclaimer"><span class="font"> Website Disclaimer</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px"><span class="font"> Our Social Project</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">About Institute</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-institute-ivjl"><span class="font"> About IVJL</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/our-faculty"><span class="font"> Courses offered</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/our-faculty"><span class="font"> Our Faculty</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/admission-curriculum"><span class="font"> Admission & Curriculum</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/special-courses"><span class="font"> Special Courses</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/distance-learning"><span class="font"> Distance Learning</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Our Services</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/residential-vaastu"><span class="font"> Residential Vaastu</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/commercial-vaastu"><span class="font"> Commercial Vaastu</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/kundali-matrimony"><span class="font"> Kundali Milan & Matrimony</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/palmistry-service"><span class="font"> Palmistry Analysis</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/numerology-service"><span class="font"> Numerology & Analysis</span></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 style="font-style: italic;color: #C3591C">Other Resource</h6>
      <ul style="list-style: none;">
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/hindi-books"><span class="font"> Hindi Books</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/english-books"><span class="font"> English Books</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/photo-gallery"><span class="font"> Photo Gallery</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px"><span class="font"> Video Gallery</span></a></li>
        <li><a href="" style="text-decoration: none;color: darkorange;font-size: 12px"><span class="font"> Our Social Project</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #A70A0A">
  <br>
  <h2 class="text-center" style="font-style: italic;color: white;font-size: 20px">Vaastu Shastra, Astrology, Palmistry are Ancient Indian Science for happy living. <br/>It is advisable to consult a professional before taking any vital decision.</h2>
  <br>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h6 style="font-size: 10px">Copyright @2010 IVJL the World of Vaastu, Astrology & Feng-Shui. All rights reserved<br/>
        Website Design, Development, Maintenance and SEO Services by <span><a href="" style="text-decoration: none;" class="font">Elite InfoWorX</a></span></h6>
    </div>
    <div class="col-md-6">
      <div style="text-align: right">
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-articles">Vaastu</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/astrology-articles">Astrology</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/fengshui-articles">Feng Shui</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/numerology-articles">Numerology</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/gemstone-articles">Gem Stones</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/pyravaastu-articles">Pyramidology</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-us">About Us</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/contact-us">Contact Us</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-services">Services</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/products">Products</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/vaastu-books">Books</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/about-institute-ivjl">Courses</a> |
        <a href="" style="text-decoration: none;color: darkorange;font-size: 12px" routerLink="/website-disclaimer">Disclaimer</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #A70A0A">
  <br>
  <h2 style="font-style: italic;color: #FFFFFF;font-size: 14px" class="text-center">Vaastu Consultancy | Astrology Consultancy | Feng Shui Consultant | Vaastu Tips | Vaastu Courses | Astrology Courses | Industrial Vaastu | Residential Vaastu</h2>
  <br>
</div>

















